<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tecnologías de la Información</title>
    <style>
        body {
            font-family: Arial, sans-serif;
           
            margin: 0;
            padding: 20px;
            color: #000;
        }
        h1, h2, h3 {
            margin: 0;
        }
        h1 {
            font-size: 24px;
            text-align: center;
        }
        h2 {
            font-size: 20px;
            margin-top: 20px;
        }
        p {
            margin: 10px 0;
            line-height: 1.5;
        }
        .bold {
            font-weight: bold;
        }
        .footer {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <h1 class="bold">GESTIÓN DE TECNOLOGÍAS DE LA INFORMACIÓN</h1>
    <div>
        <span class="bold">Código:</span> TIC-01-M-01-F-01<br>
        <span class="bold">Versión:</span> 03<br>
        <span class="bold">Fecha:</span> 21/09/2022
    </div>

    <br> 
    <h3 class="bold"> <center>
        FORMATO ACUERDO DE CONFIDENCIALIDAD
    </center></h3>
    
    <p>La ESE IMSALUD es una empresa pública prestadora de servicios de salud de primer nivel de Cúcuta, cuyo propósito es incentivar la cultura de vida saludable de la población, garantizando la calidad y eficiencia con su red.</p>
    
    <p>Toda información administrativa o asistencial que se defina como confidencial y/o sensible deberá objeto de reserva buscando garantizar la privacidad y seguridad de la misma, en cumplimiento de la resolución 1995 de 1999 del ministerio de salud y la ley 599 de 2000.</p>
    
    <h3 class="bold"><center> CONSIDERANDO QUE:  </center></h3>
    
    <p>Yo <b>{nombrecompleto}</b> , identificado(a) con <b>{tipodocumento}</b> No. <b>{cedula}</b> expedido en <b>{expediciondocumento}</b> actuando en nombre propio <b>{check}</b> vinculado a la ESE IMSALUD en calidad de <b>{tipovinculacion}</b> , quien en adelante me identificaré como EL COLABORADOR y/o PARTE RECEPTORA de la información.</p>

    <p>Entiendo y acepto las siguientes condiciones, compromisos, derechos y deberes, relacionados con el desarrollo de sus actividades y que, en tal razón, la ESE IMSALUD debe suministrarle información confidencial, propia y de terceros, en forma verbal o escrita, y que desea proteger dicha información de la forma estipulada en el presente Acuerdo.</p>

    <h3 class="bold"><center> CLAUSULAS  </center> </h3>
    <h4 class="bold">PRIMERO. DEFINICIONES CONCEPTUALES:</h4>
    <p>Los términos utilizados en el texto del presente Acuerdo se deberán entender en el sentido corriente y usual que ellos tienen en el lenguaje técnico correspondiente o en el natural y obvio según el uso general de los mismos, a menos que se especifique de otra forma en el presente Acuerdo.</p>
    <p>Los términos en mayúscula tendrán el significado que se les asigna a continuación:</p>

    <h4 class="bold">A) INFORMACIÓN CONFIDENCIAL.</h4>
    <p>Se entiende como Información Confidencial, para los efectos del presente acuerdo:</p>
    <ol>
        <li>Toda aquella información no divulgada almacenada en cualquier medio físico y electrónico.</li>
        <li>La información que no sea pública y sea conocida por EL RECEPTOR.</li>
        <li>Cualquier información técnica, jurídica, financiera, comercial, de proveedores, de pacientes, etc.</li>
        <li>La que corresponda o deba considerarse como tal para garantizar el derecho constitucional a la intimidad.</li>
        <li>Toda información consignada en la Historia Clínica de los pacientes y sus anexos.</li>
    </ol>

    <!-- revisar si continua en pagina o se recorta por ahora ira aqui-->
    <p>Se suscribe en el municipio de Cúcuta, el día _____ de __________ de 20__.</p>

    <p class="bold">Firma digital con codigo: {codigootp}</p>
    <p class="bold">Nombre: {{nombre}} {{segundonombre}} {{primerapellido}} {{segundoapellido}} </p>
    <p class="bold">Cédula: {{cedula}} </p>
    <p class="bold">Tipo de vinculacion: {{tipovinculacion}} </p>
    <!-- revisar si continua en pagina o se recorta por ahora ira aqui-->
    <div class="footer">
     
        Av. Libertadores No. 0-124 Barrio Blanco, San José de Cúcuta <br>
        Norte de Santander-Colombia, Teléfono (7) 5784980 <br>
        Elaboró SARA E.S.E IMSALUD - <a href="http://www.imsalud.gov.co/" class="blue">http://www.imsalud.gov.co</a>
      
    </div>
</body>
</html>
