<!--
/////@developer DANNYAGUILARGIL, UP-IMSALUD
/*
##################################################
----------| |----------|     |#    |  ---------  #
          | |          |    |  |   |      #      # 
          | |----------|   |    |  |      #      #
          | |          |  |      | |      #      #
----------| |          | |        #   ---------  #
################################################## 


######ESTE ES EL CONTENIDO DE DATATABLE CON DJANGO PERSONALIZADO PARA EL CRUD
-->

{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kodchasan">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

       
        <!-- Bootstrap -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        
        <link rel="icon" href=" {% static 'imgs/escudito.ico' %} ">
        <link type="text/css" rel="stylesheet" href=" {% static "css/styles.css"  %} "> 
        <link type="text/css" rel="stylesheet" href=" {% static "css/base2.css"  %} "> 
        <title> {% block titulo %}    {% endblock  %}</title>  
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand" style="background: #1d985a; color: white; ">
            <!-- Navbar Brand-->
           <!-- <a class="navbar-brand ps-4" href="index.html">Menu</a> -->
        
                <div class="col" >
                    
                    <button class="btn btn-link " id="sidebarToggle" href="#!" style="background: #1d985a; color: white;"><i class="fas fa-bars"></i></button>
                    MENÚ
                </div>
                <div class="col"></div>
                <!-- <div class="col"></div> AGREGAR ESTO CON JAVASCRIPT LA CLASE AL PRESIONAR EL SIDEBAR-->
                <div class="col text-center">
                    <center>
                      
                    </center>
                </div>
              
                <div class="col"></div>
               
          
            <!-- Sidebar Toggle-->
            
        
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <span class="typed"></span> Administrador!
            </form>

           
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" style="background: #1d985a; color: white; ">
                <li class="nav-item dropdown" style="background: #1d985a; color: white;">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: #1d985a; color: white;"><i class="fas fa-user fa-fw" ></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="background: #1d985a; color: white;">
                     <!--  <li><a class="dropdown-item fas fa-user-edit" href=" {% url 'perfil' %} ">Actualizar perfil</a></li> -->
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <center>
                                <button class="fas fa-sign-out-alt text-center btn btn-outline-white " type="submit">Cerrar sesión</button>
                                </center>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav" >
            <div id="layoutSidenav_nav" style="background: #1d985a; color: white;">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion" style="background: #1d985a; color: white;">
                    <div class="sb-sidenav-menu" style="background: #1d985a; color: white;">
                        <div class="nav" style="background: #1d985a; color: white;">
                            
                           

 
                            <div class="sb-sidenav-menu-heading">Gestion de usuarios</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutss" aria-expanded="false" aria-controls="collapseLayouts" style="background: #1d985a; color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                Usuarios
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayoutss" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                            
                                    <a class="nav-link" href=" {% url 'usuario_pendient' %} " style="color: white;">Usuarios pendientes</a>
                                    <a class="nav-link" href=" {% url 'crear' %} " style="color: white;">Registrar un usuario</a>
                                   
                                    <a class="nav-link" href=" {% url 'documentos' %} " style="color: white;">Registrar documento</a>
                                    <a class="nav-link" href=" {% url 'usuariosauditoria' %} " style="color: white;">Auditoria</a>
                                   
                                </nav>
                            </div>





                            
          
                            
                           
                            <!-- GESTION DE APIS-->
                            <div class="sb-sidenav-menu-heading">GESTION DE INTEROAPIBILIDAD</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts" style="background: #1d985a; color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
                                Nueva eps
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'nuevaeps' %}" style="color: white;">Datos de afiliacion</a>
                                    <a class="nav-link" href="{% url 'nuevaepsbasicos' %}" style="color: white;">Datos basicos</a>
                                    <a class="nav-link" href="{% url 'nuevaepscontacto' %}" style="color: white;">Datos de contacto</a>
                                    <a class="nav-link" href="{% url 'nuevaepscontacto' %}" style="color: white;">Radicacion</a>
                                </nav>
                            </div>
                            <!-- GESTION DE APIS-->


                            <!-- GESTION DE IDENTIDADES-->
                            <div class="sb-sidenav-menu-heading">GESTION DE IDENTIDADES</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts" style="background: #1d985a; color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-hospital-user"></i></div>
                                Identidades
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'identidades' %}" style="color: white;">Solicitar sistema</a>
                                    <a class="nav-link" href="{% url 'identidadespendientes' %}" style="color: white;">Pendientes</a>
                                    <a class="nav-link" href="{% url 'pazysalvo' %}" style="color: white;">Paz y salvo</a>
                            
                                </nav>
                            </div>
                            <!-- GESTION DE IDENTIDADES-->



                            <div class="sb-sidenav-menu-heading" >Bitacora de actividades</div>
                            <a class="nav-link" href="../bitacora" style="background: #1d985a; color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                                Ver bitacora 
                            </a>

                        

                            <div class="sb-sidenav-menu-heading" >Panel de administracion</div>
                            <a class="nav-link" href="/admin/" style="background: #1d985a; color: white;">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Ver panel
                            </a>

                        </div>
                    </div>
                    <div class="sb-sidenav-footer" style="background: #1d985a; color: white;">
                        <div class="small">
                        E.S.E IMSALUD &copy 
                        </div>
                </nav>
            </div>

            <div id="layoutSidenav_content">
              
                <div class="container">
                    <center>
                        <img  src=" {% static 'imgs/logocompleto.png' %} "  alt="" style="width: 120px; text-align: center;height: 45px">
                    </center> 
             
                {% block contenido %}
                {% endblock contenido %}
         
           
              

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <!---->
                            <div class="text-muted">"Intentando lo Imposible es como se Realiza lo Posible"</div>
                            <div>
                                <a href="#" style="color: grey;">Politica de privacidad</a>
                                &middot;
                                <a href="#" style="color: grey;">Terminos &amp; Condiciones</a>
                            </div>
                        </div>
                    </div>
                </footer>


 </div>
    </div>

   
        
    <script>
        $(document).ready(function() {
            $(".ver").click(function() {
                var nombre = $(this).data("nombre");
                var segundonombre = $(this).data("segundonombre");
                var primerapellido = $(this).data("primerapellido");
                var segundoapellido = $(this).data("segundoapellido");
                var cedula = $(this).data("cedula");
                var cargo = $(this).data("cargo");
                var email = $(this).data("email");
                var supervisor = $(this).data("supervisor");
                var tipodocumento = $(this).data("tipodocumento");
                var apicativo = $(this).data("apicativo");
                var tiposolicitud = $(this).data("tiposolicitud");
                var observaciones = $(this).data("observaciones");
    
                $("#nombre").val(nombre);
                $("#segundonombre").val(segundonombre);
                $("#primerapellido").val(primerapellido);
                $("#segundoapellido").val(segundoapellido);
                $("#cedula").val(cedula);
                $("#cargo").val(cargo);
                $("#email").val(email);
                $("#supervisor").val(supervisor);
                $("#tipodocumento").val(tipodocumento);
                $("#apicativo").val(apicativo);
                $("#tiposolicitud").val(tiposolicitud);
                $("#observaciones").val(observaciones);
    
                $("#exampleModal").modal("show");
            });
        });

/*

            console.log("entro al script")
            $(document).ready(function() {
                $('#eliminar').click(function() {
                  var cedula = $('#cedula').val();
                  console.log(cedula);
              
                  $.ajax({
                    url: 'eliminarregistro',
                    data: {
                      'cedula': cedula
                    },
                    dataType: 'json',
                    success: function(data) {
                      // Actualizar la vista si la eliminación fue exitosa
                      if (data.eliminado) {
                        window.location.reload();
                      }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                      console.log(xhr.responseText);
                    }
                  });
                });
              });

              */
       
        
    </script>
    

            


  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/usuario.js' %}"></script>


         

    </body>
</html>
