{% extends 'base_identidades_general.html' %}
{% block titulo %}Formato gestion de identidades{% endblock titulo %}
{% block contenido %}


<center>
  <h5 class="">Formato gestion de identidades</h5>
  </center>


<form action="" class="form-control">



                <!-- ESTE DEBE IR MANUAL DEBIDO A LAS VALIDACIONES Y A LA TOMA DE DATOS-->
                <fieldset>Informacion general del colaborador</fieldset> 
              <div class="row">

                <div class="col">
                <label for="nombre" class=""><b>Primer Nombre: *</b></label> <br>
                <input type="text" name="nombre" id="nombre" class="emerge form-control" value="" placeholder="Digite primer nombre">
                </div>
                
                <div class="col">
                <label for="segundonombre" class=""><b>Segundo Nombre:</b></label> <br>
                <input type="text" name="segundonombre" id="segundonombre" class="form-control" value="" placeholder="Digite segundo nombre">
                </div>

                <div class="col">
                <label for="primerapellido" class=""><b>Primer apellido: *</b></label> <br>
                <input type="text" name="primerapellido" id="primerapellido" class="form-control" value="" placeholder="Digite primer apellido"> 
                </div>

                <div class="col">
                <label for="segundoapellido" class=""><b>Segundo apellido: *</b></label> <br>
                <input type="text" name="segundoapellido" id="segundoapellido" class="form-control" placeholder="Digite segundo apellido" value="">
                </div>

              </div>
                

              <div class="row">

              <div class="col">
                <label for="" class=""><b>Tipo de documento:</b></label> <br>
                <select name="tipodocumento" id="tipodocumento" class="form-control">
                  <option value="CC" class="" selected>Cedula de ciudadania</option>
                  <option value="CE" class="">CE</option>
                  <option value="PASAPORTE" class="">PASAPORTE</option>
                  <option value="RESIDENCIA" class="">RESIDENCIA</option>
                </select>
                </div>

                <div class="col">
                <label for="cedula" class=""><b>Cedula:</b></label> <br>
                <input type="number" name="cedula" id="cedula" class="form-control" value="" placeholder="Digite cedula"> 
                </div>
                <div class="col">
                <label for="lugarexpedicion" class=""><b>Lugar  de expedicion:</b></label> <br>
                <input type="text" name="lugarexpedicion" id="lugarexpedicion" class="form-control" placeholder="Digite Lugar expedicion" required >
                </div>

                <div class="col">
                <label for="sexo" class=""><b>Sexo:</b></label> <br>
                <select name="sexo" id="sexo" class="form-control">
                  <option value="M" selected class="">M</option>
                  <option value="F"  class="">F</option>
                </select> 
                </div>

</div>

                <div class="row">
                <div class="col">
                <label for="telefono" class=""><b>Telefono fijo:</b></label> <br>
                <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Digite telefono fijo" required> 
                </div>
                
                <div class="col">
                <label for="celular" class=""><b> Celular:</b></label> <br>
                <input type="number" name="celular" id="celular" class="emerge form-control" placeholder="Digite celular">
                </div>

                <div class="col">
                <label for="direccion" class=""><b>Direccion:</b></label> <br>
                <input type="text" id="direccion" name="direccion" class="emerge form-control" required placeholder="Digite direccion de residencia">
                </div>

                <div class="col">
                <label for="cargo" class="emerge"><b>Cargo o N° de contrato:</b></label> <br>
                <input type="text" name="cargo" id="cargo" class="form-control" value="" placeholder="Cargo o N° de contrato">  
                </div>
                </div>
            
                <div class="row">
                
                <div class="col">
                <label for="tarjetaprofesional" class=""><b>Tarjeta profesional:</b></label> <br>
                <input type="text" name="tarjetaprofesional" id="tarjetaprofesional"  placeholder="Digite tarjeta profesional" class="form-control">
                </div>


                <div class="col">
                <label  for="correo" class="emerge"><b>Correo personal:</b></label> <br>
                <input type="email" name="correo" id="correo" class="emerge form-control" value="" placeholder="Digite correo"> 
                </div>


                <div class="col">
                <label for="ubicacion_laboral" class="emerge"><b>Ubicacion laboral:</b></label><br>
                <input type="text" name="ubicacion_laboral" id="ubicacion_laboral" class="emerge form-control" placeholder="Ubicacion laboral o area"> 
                </div>

                <div class="col">
                <label for="dependencia" class="emerge"><b>Dependencia o servicio:</b></label><br>
                <input type="text" name="dependencia" id="dependencia" class="emerge form-control" placeholder="Dependencia o servicio"> 
                </div>

                </div>


                <div class="row">
               

                <div class="col">
                <label for="sede" class="emerge"><b>Sede:</b></label> <br>
                <input type="text" name="sede" id="sede" class="emerge form-control" value="" placeholder="Digite sede UBA o IPS">
                <ul class="list"></ul>

                </div>
               
                <div class="col">
                <label for="supervisor" class="emerge"><b>Supervisor o jefe inmediato:</b></label> <br>
                <input type="text" name="supervisor" id="supervisor" class="emerge form-control" value="" placeholder="Digite supervisor">
                <ul class="list"></ul>
              </div>



                <div class="col">
                  
                  <label for="" class=""><b>Fecha final de contrato</b></label> <br>
                  <input type="date" name="observaciones" id="observaciones" class="form-control" placeholder="Digite para que requiere el permiso del sistema?" required> 
                  
                </div>

                <div class="col">

                </div>
                 
              
              
                </div>

                
             
                <hr>
                <h6>Sistema de informacion requerido</h6> 

                <div class="row" id="divtiposolicitud">

                <div class="col" id="">
                <label for="tiposolicitud" class=""> <span style="font-family: Lato;"></span><b> Tipo de solicitud</b></label> <br>
                <select name="tiposolicitud" id="tiposolicitud" class="form-control">
                  <option value="CREAR" class="form-control">CREAR</option>
                  <option value="ACTUALIZAR" selected class="form-control">ACTUALIZAR</option>
                  <option value="ELIMINAR" class="form-control">ELIMINAR</option>
                  <option value="CONSULTAS" class="form-control">CONSULTAS</option>
                </select>
                </div>



                <div class="col aplica" id="aplica">
                <label for=""><b>Aplicativo</b></label> <br>
                <select name="aplicativo" id="aplicativo" class="form-control" onchange="aplicativos();">
                  <option value="ALDEAMO SMS" class="form-control">ALDEAMO SMS</option>
                  <option value="ALMERA" class="form-control">ALMERA</option>
                  <option value="EMAIL" class="form-control">EMAIL</option>
                  <option value="KUBAPP" class="form-control" selected>KUBAPP</option>
                  <option value="HIKCENTRAL" class="form-control">HIKCENTRAL</option>
                  <option value="NUBE" class="form-control">NUBE</option>
                  <option value="ORTHANC" class="form-control">ORTHANC</option>
                  <option value="MESA DE AYUDA" class="form-control">MESA DE AYUDA</option>
                  <option value="AULA VIRTUAL" class="form-control">AULA VIRTUAL</option>
                  <option value="TNS" class="form-control">TNS</option>
                  <option value="OTRO" class="form-control">OTRO</option>
                  <option value="ANNARLARB" class="form-control">ANNARLAB</option>
                </select> 
                 </div>
               
           

                <div class="col firma" id="firma">
                <label for="firma" class=""><b>Adjunte firma fondo blanco</b></label>
                <input type="file" name="firma" id="firma" class="form-control" placeholder="Seleccione" value="NO REQUIERE"> 
                </div>


                <div class="col" id="padreobservaciones">
                <label for="observaciones" class=""><b>Observaciones</b></label>  <br>
                <input style="color: green; height: 40px;" type="text" name="observaciones" id="observaciones" class="obs form-control" placeholder="Digite para que requiere el permiso del sistema?" required> 
                </div>
                </div>

                 <br>

                <div class="row repetidor">
                <div class="col-4">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked required>
                    <label class="form-check-label" for="flexCheckChecked">
                     <span style="font-family: Lato"><i> Acepto tratamiento de datos</i> </span> 
                       <a class="btn btn-white fad fa-eye botonsito" href="https://www.imsalud.gov.co/web/gobierno-digital/politicas-de-proteccion-de-datos-personales/"   target="_blank" ></a>
                    </label> <br>
                   
                </div>
                </div>


                <div class="col">
                <a class="btn btn-outline-primary botonsito" id="otro" onclick="otro();">Agregar otro</a>
                </div>

                
                </div>

                <center>
                  <br>
                  <div class="col">
                    <button class="btn btn-outline-success botonsito" type="submit" onclick="envio();" name="solicitar" id="solicitar">Solicitar</button>
                    </div>
                </center>
                


</form>


{% endblock contenido %}