{% extends 'base_identidades_sistemas.html' %}
{% block titulo %}Formato gestión de identidades{% endblock titulo %}
{% block contenido %}

<center>
  <h5 class="">Formulario gestión de identidades</h5>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
</center>

<form action="" method="POST" class="form-control">
  {% csrf_token %}

  <div class="card mb-4">
    <div class="card-header"  style="background: #FFFFCC;">
      <h6 class="card-title">Información general del colaborador</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <label for="nombre" class=""><b>Primer Nombre: *</b></label>
          <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Digite primer nombre">
        </div>
        <div class="col-md-3">
          <label for="segundonombre" class=""><b>Segundo Nombre:</b></label>
          <input type="text" name="segundonombre" id="segundonombre" class="form-control" placeholder="Digite segundo nombre">
        </div>
        <div class="col-md-3">
          <label for="primerapellido" class=""><b>Primer apellido: *</b></label>
          <input type="text" name="primerapellido" id="primerapellido" class="form-control" placeholder="Digite primer apellido">
        </div>
        <div class="col-md-3">
          <label for="segundoapellido" class=""><b>Segundo apellido: *</b></label>
          <input type="text" name="segundoapellido" id="segundoapellido" class="form-control" placeholder="Digite segundo apellido">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <label for="tipodocumento" class=""><b>Tipo de documento:</b></label>
          <select name="tipodocumento" id="tipodocumento" class="form-control">
            <option value="CC" selected>Cédula de ciudadanía</option>
            <option value="CE">CE</option>
            <option value="PASAPORTE">Pasaporte</option>
            <option value="RESIDENCIA">Residencia</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="cedula" class=""><b>Cédula:</b></label>
          <input type="number" name="cedula" id="cedula" class="form-control" placeholder="Digite cédula">
        </div>
        <div class="col-md-3">
          <label for="lugarexpedicion" class=""><b>Lugar de expedición:</b></label>
          <input type="text" name="lugarexpedicion" id="lugarexpedicion" class="form-control" placeholder="Digite lugar expedición" required>
        </div>
        <div class="col-md-3">
          <label for="sexo" class=""><b>Sexo:</b></label>
          <select name="sexo" id="sexo" class="form-control">
            <option value="M" selected>M</option>
            <option value="F">F</option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <label for="telefono" class=""><b>Teléfono fijo:</b></label>
          <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Digite teléfono fijo" required>
        </div>
        <div class="col-md-3">
          <label for="celular" class=""><b>Celular:</b></label>
          <input type="number" name="celular" id="celular" class="form-control" placeholder="Digite celular">
        </div>
        <div class="col-md-3">
          <label for="direccion" class=""><b>Dirección:</b></label>
          <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Digite dirección de residencia" required>
        </div>
        <div class="col-md-3">
          <label for="cargo" class=""><b>Cargo o N° de contrato:</b></label>
          <input type="text" name="cargo" id="cargo" class="form-control" placeholder="Cargo o N° de contrato">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <label for="tarjetaprofesional" class=""><b>Tarjeta profesional:</b></label>
          <input type="text" name="tarjetaprofesional" id="tarjetaprofesional" class="form-control" placeholder="Digite tarjeta profesional">
        </div>
        <div class="col-md-3">
          <label for="email" class=""><b>Correo personal:</b></label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Digite correo">
        </div>
        <div class="col-md-3">
          <label for="ubicacion_laboral" class=""><b>Ubicación laboral:</b></label>
          <input type="text" name="ubicacion_laboral" id="ubicacion_laboral" class="form-control" placeholder="Ubicación laboral o área">
        </div>
        <div class="col-md-3">
          <label for="dependencia" class=""><b>Dependencia o servicio:</b></label>
          <input type="text" name="dependencia" id="dependencia" class="form-control" placeholder="Dependencia o servicio">
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <label for="sede" class=""><b>Sede:</b></label>
          <input type="text" name="sede" id="sede" class="form-control" placeholder="Digite sede UBA o IPS">
        </div>
        <div class="col-md-3">
          <label for="supervisor" class=""><b>Supervisor o jefe inmediato:</b></label>
          <input type="text" name="supervisor" id="supervisor" class="form-control" placeholder="Digite supervisor">
        </div>
        <div class="col-md-3">
          <label for="fechafinalcontrato" class=""><b>Fecha final de contrato:</b></label>
          <input type="date" name="fechafinalcontrato" id="fechafinalcontrato" class="form-control" required>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header"  style="background: #FFFFCC;">
      <h6 class="card-title">Sistema de información requerido</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label for="tiposolicitud" class=""><b>Tipo de solicitud</b></label>
          <select name="tiposolicitud" id="tiposolicitud" class="form-control">
            <option value="CREAR">Crear</option>
            <option value="ACTUALIZAR" selected>Actualizar</option>
            <option value="ELIMINAR">Eliminar</option>
            <option value="CONSULTAS">Consultas</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="aplicativo" class=""><b>Aplicativo</b></label>
          <select class="form-control" id="aplicativo" name="aplicativo" required>
            <option selected disabled>Seleccione Aplicativo</option>
            <!-- Las opciones se cargarán dinámicamente con JavaScript -->
          </select>
        </div>
        <div class="col-md-4">
          <label for="modulo" class=""><b>Modulo</b></label>
          <select class="form-control" id="modulo" name="modulo">
            <option selected disabled>Seleccione Modulo</option>
            <!-- Las opciones se cargarán dinámicamente con JavaScript -->
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <label for="firma" class=""><b>Adjunte firma fondo blanco</b></label>
          <input type="file" name="firma" id="firma" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="observaciones" class=""><b>Observaciones</b></label>
          <textarea name="observaciones" id="observaciones" cols="80" rows="2" class="form-control"></textarea>
        </div>
      </div>
    </div>
  </div>
  
  <center>
    <button type="submit" class="btn btn-success">Enviar Solicitud</button>
  </center>
</form>

<script>
// Función para cargar los aplicativos desde el servidor
function cargarAplicativos() {
    fetch('identidades/listadoaplicativos')
        .then(response => response.json())
        .then(data => {
            const selectAplicativos = document.getElementById('aplicativo');
            data.aps.forEach(aps => {
                const option = document.createElement('option');
                option.value = aps.id;
                option.textContent = aps.nombre;
                selectAplicativos.appendChild(option);
            });
        })
        .catch(error => console.error('Error al cargar aplicativos:', error));
}

// Función para cargar los módulos basados en el aplicativo seleccionado
function cargarModulos() {
    document.getElementById('aplicativo').addEventListener('change', function() {
        const aplicativoId = this.value;
        const selectModulos = document.getElementById('modulo');
        
        // Limpia el contenido previo de los módulos
        selectModulos.innerHTML = '<option value="">Seleccione un módulo</option>';
        
        if (aplicativoId) {
            fetch(`/identidades/modulos?aplicativo_id=${aplicativoId}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Verifica el contenido de la respuesta
                    if (data.modulos) {
                        data.modulos.forEach(modulo => {
                            const option = document.createElement('option');
                            option.value = modulo.id;
                            option.textContent = modulo.nombre;
                            selectModulos.appendChild(option);
                        });
                    } else {
                        console.error('No se encontraron módulos.');
                    }
                })
                .catch(error => console.error('Error al cargar módulos:', error));
        }
    });
}

// Inicializar las funciones al cargar la página
cargarAplicativos();
cargarModulos();
</script>

{% endblock contenido %}
