{% extends 'base_identidades_sistemas.html' %}
{% block titulo %}Paz y Salvo{% endblock titulo %}
{% block contenido %}
<center>
    <h5 class=""><b>S</b>istema de <b>A</b>dministración de <b>R</b>ecursos y <b>A</b>plicaciones </h5>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</center>

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h5>Paz y Salvo</h5>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}  
                        <div class="text-center mt-4">
                            {% if pdf_url %}
                                <a target="_blank" href="{{ pdf_url }}" class="btn btn-warning">Descargar Certificado</a>
                            {% else %}
                                <button type="submit" class="btn btn-success">Solicitar</button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock contenido %}

