{% extends 'base_identidades_sistemas.html' %}
{% block titulo %}Paz y salvo{% endblock titulo %}
{% block contenido %}


<center>
  <h5 class="">Paz y salvo de sistemas</h5>
</center>

<form action="" class="form-control">


<div class="row">

    <div class="col">

    </div>
    
    <div class="col">

    </div>

    <div class="col">
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
              Revocar permisos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled>
            <label class="form-check-label" for="flexCheckChecked">
              Entrega tarjeta de acceso
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Entrega de equipos en buen estado
            </label>
          </div>

          <br>
          <button class="btn btn-outline-success">Solicitar paz y salvo</button>
    </div>

    <div class="col">

    </div>

    <div class="col">

    </div>

</div>


</form>


{% endblock contenido %}