{% extends 'base_identidades_sistemas.html' %}
{% block titulo %}Gestion de identidades supervisor{% endblock titulo %}
{% block contenido %}
<center>
   <h5>Gestion de identidades supervisor</h5>
</center>

{% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }} alert-sm">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="table-responsive">
    <table id="tabla-identidades" class="table table-bordered table-hover table-striped table-sm">
        <caption>Formularios de identidades pendientes por el supervisor</caption>
        <thead>
            <tr>
                <th class="centered">Id</th>
                <th class="text-center centered">Nombre completo</th>
                <th class="text-center centered">Aplicativo</th>
                <th class="text-center centered">Modulo</th>
                <th class="text-center centered">Tipo de solicitud</th>
                <th class="text-center centered">Observacion</th>
                <th class="text-center centered">Accion</th>
            </tr>
        </thead>
        <tbody id="tabla-usuarios">
            {% for objeto in datos %}
            <tr>
                <td><center>{{ objeto.id }}</center></td>
                <td><center>{{ objeto.nombre }} {{ objeto.segundonombre }} {{ objeto.primerapellido }} {{ objeto.segundoapellido }}</center></td>
        
                <td><center>
                    {% for aplicativo in datosapp %}
                        {% if aplicativo.id == objeto.aplicativo_id %}
                            {{ aplicativo.nombre }}
                        {% endif %}
                    {% endfor %}
                </center></td>
        
                <td><center>
                    {% for modulo in datosmod %}
                        {% if modulo.id == objeto.modulo_id %}
                            {{ modulo.nombre }}
                        {% endif %}
                    {% endfor %}
                </center></td>
        
                <td><center>{{ objeto.tiposolicitud }}</center></td>
                <td><center>{{ objeto.observaciones }}</center></td>
                <td>
                    <center>
                        <a name="ver" class="fa fa-eye btn btn-outline-success ver"
                            data-id="{{ objeto.id }}"
                            data-nombre="{{ objeto.nombre }}"
                            data-segundonombre="{{ objeto.segundonombre }}"
                            data-primerapellido="{{ objeto.primerapellido }}"
                            data-segundoapellido="{{ objeto.segundoapellido }}"
                            data-cedula="{{ objeto.cedula }}"
                            data-cargo="{{ objeto.cargo }}"
                            data-email="{{ objeto.email }}"
                            data-supervisor_id="{{ objeto.supervisor_id }}"
                            data-supervisor_usuario="{% for supervisor in datossup %}{% if supervisor.id == objeto.supervisor_id %}{{ supervisor.usuario }}{% endif %}{% endfor %}"
                            data-dependencia_id="{{ objeto.dependencia_id }}"
                            data-dependencia_nombre="{% for dependencia in datosdep %}{% if dependencia.id == objeto.dependencia_id %}{{ dependencia.nombre }}{% endif %}{% endfor %}"
                            data-tipodocumento="{{ objeto.tipodocumento }}"
                            data-aplicativo_id="{{ objeto.aplicativo_id }}"
                            data-aplicativo="{% for aplicativo in datosapp %}{% if aplicativo.id == objeto.aplicativo_id %}{{ aplicativo.nombre }}{% endif %}{% endfor %}"
                            data-aplicativo_nombre="{% for aplicativo in datosapp %}{% if aplicativo.id == objeto.aplicativo_id %}{{ aplicativo.nombre }}{% endif %}{% endfor %}"
                            data-modulo_id="{{ objeto.modulo_id }}"
                            data-modulo_nombre="{% for modulo in datosmod %}{% if modulo.id == objeto.modulo_id %}{{ modulo.nombre }}{% endif %}{% endfor %}"
                            data-tiposolicitud="{{ objeto.tiposolicitud }}"
                            data-observaciones="{{ objeto.observaciones }}"
                            data-lugarexpedicion="{{ objeto.lugarexpedicion }}"
                            data-sexo="{{ objeto.sexo }}"
                            data-telefono="{{ objeto.telefono }}"
                            data-celular="{{ objeto.celular }}"
                            data-direccion="{{ objeto.direccion }}"
                            data-sede="{{ objeto.sede }}"
                            data-ubicacionlaboral="{{ objeto.ubicacionlaboral }}"
                            data-fechafinalcontrato="{{ objeto.fechafinalcontrato }}"
                            data-tarjetapf="{{ objeto.tarjetapf }}"
                            data-bs-toggle="modal"
                            data-bs-target="#ex">
                        </a>
                    </center>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Gestión de identidades / supervisor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="needs-validation">
                    {% csrf_token %}
                    <div class="card mb-4">
                        <div class="card-header" style="background: #FFFFCC;">
                            <h6 class="card-title">Información general del colaborador</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" id="id" name="id" class="form-control" placeholder="Digite primer nombre" required readonly>
                                <div class="col-md-3">
                                    <label for="nombre" class=""><b>Primer Nombre: *</b></label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Digite primer nombre" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese el primer nombre.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="segundonombre" class="">Segundo Nombre:</label>
                                    <input type="text" id="segundonombre" name="segundonombre" class="form-control" placeholder="Digite segundo nombre" readonly value="">
                                </div>
                                <div class="col-md-3">
                                    <label for="primerapellido" class=""><b>Primer apellido: *</b></label>
                                    <input type="text" id="primerapellido" name="primerapellido" class="form-control" placeholder="Digite primer apellido" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese el primer apellido.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="segundoapellido" class="">Segundo apellido:</label>
                                    <input type="text" id="segundoapellido" name="segundoapellido" class="form-control" placeholder="Digite segundo apellido" readonly>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <label for="tipodocumento" class=""><b>Tipo de documento: *</b></label>
                                    <input type="text" id="tipodocumento" name="tipodocumento" class="form-control" placeholder="Digite tipo de documento" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese el tipo de documento.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="cedula" class=""><b>Cédula: *</b></label>
                                    <input type="text" id="cedula" name="cedula" class="form-control" placeholder="Digite cédula" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese la cédula.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="lugarexpedicion" class=""><b>Lugar de expedición: *</b></label>
                                    <input type="text" id="lugarexpedicion" name="lugarexpedicion" class="form-control" placeholder="Digite lugar de expedición" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese el lugar de expedición.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="sexo" class="">Sexo:</label>
                                    <input type="text" id="sexo" name="sexo" class="form-control" placeholder="Digite sexo" readonly>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <label for="telefono" class="">Teléfono fijo:</label>
                                    <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Digite teléfono fijo" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label for="celular" class="">Celular:</label>
                                    <input type="text" id="celular" name="celular" class="form-control" placeholder="Digite celular" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label for="direccion" class="">Dirección:</label>
                                    <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Digite dirección" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label for="cargo" class=""><b>Cargo o N° de contrato: *</b></label>
                                    <input type="text" id="cargo" name="cargo" class="form-control" placeholder="Digite cargo" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese el cargo o número de contrato.
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <label for="email" class=""><b>Correo personal: *</b></label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Digite correo" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese un correo electrónico válido.
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="supervisor" class=""><b>Supervisor id:</b></label>
                                    <input type="text" id="supervisor" name="supervisor" class="form-control" placeholder="Digite supervisor" readonly>
                                </div>

                                <!--
                                <div class="col-md-3">
                                    <label for="supervisor_usuario" class=""><b>Supervisor:</b></label>
                                    <input type="text" id="supervisor_usuario" name="supervisor_usuario" class="form-control" placeholder="Digite supervisor" readonly>
                                </div>
                                -->


                                <div class="col-md-3">
                                    <label for="dependencia" class=""><b>Dependencia:</b></label>
                                    <input type="text" id="dependencia_nombre" name="dependencia_nombre" class="form-control" placeholder="Digite dependencia" readonly>
                                </div>

                                <!-- ID DE DEPENCIA PARA INSERCCION-->
                                    <input type="hidden" id="dependencia" name="dependencia" class="form-control" placeholder="Digite dependencia" readonly>
                                 <!-- ID DE DEPENCIA PARA INSERCCION-->

                                <div class="col-md-3">
                                    <label for="sede" class=""><b>Sede:</b></label>
                                    <input type="text" id="sede" name="sede" class="form-control" placeholder="Digite sede" readonly>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <label for="ubicacionlaboral" class=""><b>Ubicación laboral:</b></label>
                                    <input type="text" id="ubicacionlaboral" name="ubicacionlaboral" class="form-control" placeholder="Digite ubicación laboral" readonly>
                                </div>
                                <div class="col-md-3">
                                    <label for="fechafinalcontrato" class=""><b>Fecha final de contrato: *</b></label>
                                    <input type="text" id="fechafinalcontrato" name="fechafinalcontrato" class="form-control" required readonly>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese la fecha final de contrato.
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="tarjetapf" class=""><b>Tarjeta profesional:</b></label>
                                    <input type="text" id="tarjetapf" name="tarjetapf" class="form-control" placeholder="Digite tarjeta profesional" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sistema de información requerido -->
                    <div class="card mb-4">
                        <div class="card-header" style="background: #FFFFCC;">
                            <h6 class="card-title">Sistema de información requerido</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <!-- id del aplicativo para inserccion-->
                                <input type="hidden" id="aplicativo" name="aplicativo" class="form-control" placeholder="Digite aplicativo" readonly>
                                <!-- id del aplicativo para inserccion-->
                                <div class="col-md-4">
                                    <label for="aplicativo_nombre" class=""><b>Aplicativo:</b></label>
                                    <input type="text" id="aplicativo_nombre" name="aplicativo_nombre" class="form-control" placeholder="Digite aplicativo" readonly>
                                </div>
                                
                                  <!-- id del modulo para inserccion-->
                                    <input type="hidden" id="modulo" name="modulo" class="form-control" placeholder="Digite módulo" readonly>
                                 <!-- id del modulo para inserccion-->
                                
                                <div class="col-md-4">
                                    <label for="modulo_nombre" class=""><b>Módulo:</b></label>
                                    <input type="text" id="modulo_nombre" name="modulo_nombre" class="form-control" placeholder="Digite módulo" readonly>
                                </div>

                                <div class="col-md-4">
                                    <label for="tiposolicitud" class=""><b>Tipo de solicitud:</b></label>
                                    <input type="text" id="tiposolicitud" name="tiposolicitud" class="form-control" placeholder="Digite tipo de solicitud" readonly>
                                </div>
                               
                            </div>
<br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="observaciones" class=""><b>Observaciones contratista:</b></label>
                                    <textarea id="observaciones" name="observaciones" class="form-control" placeholder="Digite observaciones" readonly></textarea>
                                </div>
                              <div class="col-md-6">
                                <label for="observaciones" class=""><b>Observaciones del supervisor: *</b></label>
                                <textarea autofocus id="observacionessup" name="observacionessup" class="form-control" placeholder="Digite observaciones obligatorias*" required oninput="this.value = this.value.toUpperCase();"></textarea>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" name="aprobar" value="aprobar">Aprobar</button>
                        <button type="submit" class="btn btn-danger" name="rechazar" value="rechazar">Rechazar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
