<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formato de Autorización de Tratamiento de Datos Personales</title>
    <style>
        body {
          
            font-family: Arial, sans-serif;
        }
        .header {
            text-align: center;
            margin: 20px;
        }
        .section {
            margin: 20px;
            font-size: 17px;
            color: #000000;
        }
        .bold {
            font-weight: bold;
        }
        .blue {
            color: #0000ff;
        }
        .footer {
            margin-top: 50px;
            font-size: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h3 class="bold">TECNOLOGÍAS, INFORMACIÓN Y COMUNICACIONES</h3>
        <p><span class="bold">Código:</span> TIC-02-M-03-F-01</p>
        <p><span class="bold">Versión:</span> 01</p>
        <p><span class="bold">Fecha:</span> 22/09/2022</p>
    </div>

    <div class="section">
        <h3 class="bold"><center>
            FORMATO DE AUTORIZACIÓN DE TRATAMIENTO DE DATOS PERSONALES

        </center></h3>
        <p>De conformidad con lo dispuesto en las normas vigentes sobre protección de datos personales, en especial la Ley 1581 de 2012 y el Decreto 1074 de 2015, autorizo libre, expresa e inequívocamente a la Empresa Social del Estado - IMSALUD, para que realice la recolección y tratamiento de mis datos personales que suministro de manera veraz y completa, los cuales serán utilizados en función de la misionalidad de la entidad y cada uno de sus procesos.</p>
        
        <p>Así mismo, declaro que conozco que la recolección y tratamiento de mis datos se realizará de conformidad con la Política de Tratamiento de Datos y el Manual de Tratamiento de Datos personales que se encuentran publicados en <a href="http://www.imsalud.gov.co/" class="blue">www.imsalud.gov.co</a>, manifestando que he sido informado(a) de forma clara y suficiente de los fines de su tratamiento y la posibilidad que tenía de no efectuar la autorización en aquella información considerada sensible.</p>

        <p>Manifiesto que, como titular de la información, fui informado de los derechos con que cuento, especialmente a conocer, actualizar y rectificar mi información personal, revocar la autorización y solicitar la supresión del dato, las cuales podré ejercer a través del correo electrónico <a href="mailto:info@imsalud.gov.co" class="blue">info@imsalud.gov.co</a>, página web ingresando a la ventanilla única y presencialmente en la sede administrativa de la ESE IMSALUD.</p>

        <p>Se suscribe en el municipio de Cúcuta, el <b>{{fecha_actual}}</b>.</p>

        <p class="bold">Firma digital con codigo: {codigootp}</p>
        <p class="bold">Nombre: {{nombre}} {{segundonombre}} {{primerapellido}} {{segundoapellido}} </p>
        <p class="bold">Cédula: {{cedula}} </p>
        <p class="bold">Correo electrónico: {{email}} </p>
       <!-- <p class="bold">Celular: {{celular}} </p> --> <br>
    </div>

    <div class="footer">
     
        Av. Libertadores No. 0-124 Barrio Blanco, San José de Cúcuta <br>
        Norte de Santander-Colombia, Teléfono (7) 5784980 <br>
        Elaboró SARA E.S.E IMSALUD - <a href="http://www.imsalud.gov.co/" class="blue">http://www.imsalud.gov.co</a>
      
    </div>
</body>
</html>

