{% load static %}
<div class="table-responsive"> 
  <table id="tabla-usuarios" class="table  table-hover table-bordered">
    <caption>
       Gestion de cuentas del supervisor
    </caption>
    <thead>
        <tr>
            <th class="centered">Radicado</th>
            <th class="text-center centered">Nombre</th>
            <th class="text-center centered">Cedula</th>
            <th class="text-center centered">Objeto del contrato</th>
            <th class="text-center centered">N° planilla</th>
            <th class="text-center centered">Accion</th>
        </tr>
    </thead>
    <tbody id="tabla-usuarios">
             {% for objeto in datos %}
                  <tr>
                  <td>R{{objeto.id}}</td>
                  <td><center>{{objeto.nombrecompleto}}</center></td>
                  <td><center>{{objeto.cedula}}</center></td>
                  <td><center>{{objeto.objetocontrato}}</center></td>
                  <td><center>{{objeto.numeroplanilla}}</center></td>
                  <td><center>
                    <a  name="ver" class="fa fa-eye btn btn-outline-success ver" 
                data-nombrecompleto="{{objeto.nombrecompleto}}"
                data-cedula="{{objeto.cedula}}"
                data-cargo="{{objeto.cargo}}"
                data-email="{{objeto.email}}"
                data-supervisor="{{objeto.supervisor}}"
                data-objetocontrato="{{objeto.objetocontrato}}"
                data-pdfcontrato="{{objeto.pdfcontrato}}"
                data-numeroplanilla="{{objeto.numeroplanilla}}"
                data-pdfplanilla="{{objeto.pdfplanilla}}"
                data-archivo="{{objeto.archivo}}"
                data-bs-toggle="modal"
                data-bs-target="#ex" >
            </a>
                  </center></td>
                  </tr>
              
            {% endfor %}
          </tbody>
  </table>

</div>
  <!-- Modal -->
  <div class="modal" id="ex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Informacion de cuenta del contratista</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col">
      
              <label for="">Nombre completo:</label>
              <input type="text"  name="nombrecompleto" id="nombrecompleto" class="form-control" placeholder="Nombre completo" readonly>

              <label for="">Identificacion:</label>
              <input type="text" name="cedula" id="cedula" class="form-control" placeholder="identificacion" readonly>

              <label for="">Objeto del contrato:</label>
              <input type="text" class="form-control" placeholder="Objeto del contrato" readonly name="objetocontrato" id="objetocontrato"> <br>
              <!--
              <label for="">Cuenta n°:</label>
              <input type="text" class="form-control">-->
         
             <input type="hidden" name="pdfcontrato" id="pdfcontrato" class="form-control" readonly>
             <input type="hidden" name="pdfplanilla" id="pdfplanilla" class="form-control" readonly>
             <input type="hidden" name="archivo" id="archivo" class="form-control" readonly>
           
             <!-- QUE RECIBA COMO PARAMETRO PDFCONTRATO LO GUARDOEN OTRA Y LO SUSFTITUYO EN HREF-->

             <!--              <p><a href="" data-bs-toggle="tooltip" title="Tooltip" target="_blank" id="myInput">Contrato</a></p>
              <label for="">Ver Registro presupuestal:</label> <br>
              <p><a href="" data-bs-toggle="tooltip" title="Tooltip" target="_blank">Rp</a></p>
              <label for="">Ver acta de inicio:</label> <br>
              <p><a href="" data-bs-toggle="tooltip" title="Tooltip" target="_blank">Acta de inicio</a></p>
             -->

            </div>

            <div class="col">
              <center>
                <label for=""><b>Descargar acta de pago:</b></label><br>
                <p><a href=" {% url 'actapagosupervisor' cedula %}" data-bs-toggle="tooltip" title="Acta de pago" target="_blank" id="myLink">Acta de pago</a></p>

                <label for=""><b>Descargar certificado de cuentas:</b></label><br>
                <p><a href="{% url 'seguimientosupervisor' cedula %}" data-bs-toggle="tooltip" title="Certificado de seguimiento de cuentas" target="_blank" id="myLink2">Certificado</a></p>

                <label for=""><b>Planilla de pago:</b></label><br>
                <p><a href=" {% static pdfplanilla %} " data-bs-toggle="tooltip"   title="Planilla de seguridad social" target="_blank" id="myLink3" name="myLink3">Planilla</a></p>

                <label for=""><b>Descargar informe de actividades:</b></label><br>
                <p><a href="" data-bs-toggle="tooltip" title="Informe de actividades" target="_blank" id="myLink4" name="myLink4">Actividades</a></p>
              </center>
       
            </div>

            
          </div>



        </div>
       
        <div class="modal-footer">

          <div class="col-2">
            <a  class="btn btn-danger" 
            href="{% url 'eliminarsupervisor' cedula %}" data-bs-toggle="tooltip"   title="Rechazar cuenta " target="_blank" id="myLink5" name="myLink5" 
             >Rechazar
          </a>
          
          </div>
             <div class="col-4">
         
              <input type="text" id="myInput" placeholder="Observaciones de devolucion:" class="form-control" required value="PLANILLA NO CORRESPONDE">
             <!-- <input type="checkbox" id="myCheckbox" onchange="toggleInput()">-->
            
             
             </div>

             <div class="col">
              
             </div>
          <div class="col">
        
          <button type="submit" class="btn btn-success">Aceptar</button>
          </div>
       
        </div>
        
    </form>
  
      </div>
    </div>
    
  </div>
  {% if messages %}
  {% for message in messages %}
   <div class="alert alert-{{ message.tags }}">
  {{ message }}
   </div>
  {% endfor %}
{% endif %}