{% extends 'base_informes.html' %}
{% block titulo %}Entes de control{% endblock titulo %}
{% block contenido %}
   <center>
   <h5> Dependencias </h5> 
   <button type="button" class="btn btn-outline-success fas fa-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar
  </button>
   
   </center>
   <!-- modal de inserccion-->
   <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar dependencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="nombre">Nombre de la dependencia *</label>
          <input type="text" name="" id="" placeholder="Nombre de la dependencia" class="form-control">
<br>
        <label for="nombre">Nombre del responsable *</label>
                <input type="text" name="" id="" placeholder="Nombre del responsable" class="form-control">
        <br> <div class="collapse" id="collapseLayouts5" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="{% url 'identidades' %}" style="color: white;">Crear informe</a>
              <a class="nav-link" href="{% url 'identidades' %}" style="color: white;">Listado de informes</a>
              <a class="nav-link" href="{% url 'identidades' %}" style="color: white;">Entes de control</a>
              <a class="nav-link" href="{% url 'identidades' %}" style="color: white;">Dependencias</a>
          </nav>
      </div>

        <label for="nombre">Correo del responsable *</label>
                <input type="text" name="" id="" placeholder="Correo del responsable" class="form-control">
        <br>
        
          

          <label for="">Estado</label>
          <select name="activo" id="" class="form-control">
            <option value="True">Activo</option>
            <option value="False">Inactivo</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save changes</button>
        </div>
      </div>
    </div>
  </div>
     <!-- modal de inserccion-->









   <div class="table-responsive"> 
    <table id="tabla-usuarios" class="table table-bordered table-hover table-striped">
      <caption>
         Dependencias
      </caption>
      <thead>
          <tr>
              <th class="centered">Id</th>
              <th class="text-center centered">Opciones</th>
              <th class="text-center centered">Nombre</th>
              <th class="text-center centered">Responsable</th>
              <th class="text-center centered">Correo del responsable</th>
              <th class="text-center centered">Estado</th>
              <th class="text-center centered">Fecha de creación</th>
              
          </tr>
      </thead>
      <tbody id="tabla-usuarios">
        {% for objeto in datos %}
        <tr> <!-- SE REMPLAZA CON INPUTS PARA OBTENER LOS DATOS DE ESE INPUT-->
            <td>{{forloop.counter}}</td>
            <td><a  name="ver" class="fa fa-edit btn btn-outline-primary btn-sm ver" 
              data-nombre="{{objeto.nombre}}"
              data-cedula="{{objeto.cedula}}"
              data-cargo="{{objeto.cargo}}"
              data-email="{{objeto.email}}"
              data-supervisor="{{objeto.supervisor}}"
              data-tipodocumento="{{objeto.tipodocumento}}"
              data-bs-toggle="modal"
              data-bs-target="#ex" >
          </a>
            <!-- <button  class="fa fa-save btn btn-outline-secondary" type="submit"></button> --> 
            <a  class="fa fa-eraser btn btn-outline-danger btn-sm" 
            data-cedula="{{objeto.cedula}}"
            href=""
             >
          </a></td>
            <td><center>{{objeto.nombre}}</center></td>
            <td><center>{{objeto.responsable}}</center></td>
            <td><center>{{objeto.correoresponsable}}</center></td>
            <td><center>{{objeto.activo}}</center></td>
           <td><center>{{objeto.fecha_creacion}}</center></td>
        </tr>
    {% endfor %}

      </tbody>
    </table>

</div>
 
  <!-- Modal -->
<div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Datos basicos del usuario pendiente</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST" >
            {% csrf_token %}
          <div class="row">
            <div class="col">
                <label for="">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control">
            </div>

            <div class="col">
                <label for=""> Segundo nombre</label>
                <input type="text" class="form-control" name="segundonombre" id="segundonombre">
            </div>
          </div>


          <div class="row">
            <div class="col">
                <label for="">Primer apellido</label>
                <input type="text" class="form-control" name="primerapellido" id="primerapellido" >
            </div>

            <div class="col">
                <label for=""> Segundo apellido</label>
                <input type="text" class="form-control" name="segundoapellido" id="segundoapellido">
            </div>
          </div>

          <div class="row">
            <div class="col">
                <label for="">Cargo </label>
                <input type="text" class="form-control" name="cargo" id="cargo" >
            </div>

            <div class="col">
                <label for="">Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
          </div>

          <div class="row">
            <div class="col">
                <label for="">Supervisor</label>
                <input type="text" class="form-control" name="supervisor" id="supervisor">
            </div>

            <div class="col">
                <label for="">Tipo documento</label>
                <input type="text" class="form-control" name="tipodocumento" id="tipodocumento">
            </div>
          </div>

          <div class="row">
            <div class="col">
                <label for="">Cedula</label>
                <input type="text" class="form-control" name="cedula" id="cedula">
            </div>

            <div class="col">
                <label for="rol">Rol</label>
                <select name="rol" id="rol" class="form-control" name="rol" id="rol">
                    <option value="" selected class="">CONTRATISTA</option>
                    <option value="SUPERVISOR" class="">SUPERVISOR</option>
                    <option value="PRESUPUESTO" class="">PRESUPUESTO</option>
                    <option value="TESORERIA" class="">TESORERIA</option>
                    <option value="ADMINISTRADOR" class="">ADMINISTRADOR</option>
                </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="">Usuario</label>
              <input type="text" class="form-control" name="usuario" id="usuario" autofocus required>
            </div>

            <div class="col">
              <label for="">Contraseña</label>
              <input type="text" class="form-control" name="contrasena" id="contrasena" required>
            </div>
          </div>
 <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button class=" fas fa-save btn btn-outline-success" type="submit">Guardar</button>
         
        </div>
    </form>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-sm">
         {{ message }}
        </div>
   {% endfor %}

{% endif %}
      </div>
    </div>
  </div>
 
  <!-- AQUI DEBE ASIGNAR EL MISMO SISTEMA EL NOMBRE DE USUARIO Y POR DEFECTO LA CONTRASEÑA ES LA CEDULA-->


{% endblock contenido %}