{% extends 'base_informes.html' %}
{% block titulo %}Entes de control{% endblock titulo %}
{% block contenido %}
   <center>
   <h5> Entes de control </h5> 
   <button type="button" class="btn btn-outline-success fas fa-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar
  </button>


    <!-- para error, haciendo validacion-->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

   </center>


  


   <div class="table-responsive"> 
    <table id="tabla-usuarios" class="table table-bordered table-hover table-striped">
      <caption>
         Entes de control
      </caption>
      <thead>
          <tr>
              <th class="centered">Id</th>
              <th class="text-center centered">Opciones</th>
              <th class="">Nombre</th>
              <th class="text-center centered">Descripcion</th>
              <th class="text-center centered">Estado</th>
              <th class="text-center centered">Fecha de creación</th>
             
          </tr>
      </thead>
      <tbody id="tabla-usuarios">
        {% for objeto in datos %}
        <tr> <!-- SE REMPLAZA CON INPUTS PARA OBTENER LOS DATOS DE ESE INPUT-->
            <td>{{forloop.counter}}</td>
            <td><a  name="ver" class="fa fa-edit btn btn-outline-primary btn-sm ver" 
              data-nombre="{{objeto.nombre}}"
              data-cedula="{{objeto.cedula}}"
              data-cargo="{{objeto.cargo}}"
              data-email="{{objeto.email}}"
              data-supervisor="{{objeto.supervisor}}"
              data-tipodocumento="{{objeto.tipodocumento}}"
              data-bs-toggle="modal"
              data-bs-target="#ex" >
          </a>
            <!-- <button  class="fa fa-save btn btn-outline-secondary" type="submit"></button> --> 
            <a  class="fa fa-eraser btn btn-outline-danger btn-sm" 
            data-cedula="{{objeto.cedula}}"
            href=""
             >
          </a></td>
            <td>{{objeto.nombre}}</td>
            <td><center>
              {% if objeto.descripcion %}
              {{ objeto.descripcion }}
              {% else %}
              <!-- Renderiza un campo de texto vacío si la descripción es None -->
             
             {% endif %}
          
            </center></td>
            <td><center>
              {% if objeto.activo %}
              <button type="button" class="btn btn-success btn-sm">Activo</button>
            {% else %}
              <button type="button" class="btn btn-danger btn-sm">Inactivo</button>
            {% endif %}
            </center></td>
            <td><center>{{objeto.fecha_creacion}}</center></td>
         
            
        </tr>
    {% endfor %}

      </tbody>
    </table>

</div>
 





   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar ente de control</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST" >
            {% csrf_token %}


          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre de la entidad" class="form-control" required>
<br>
          <label for="descripcion">Descripcion (opcional)</label> <br>
          <textarea name="descripcion" id="descripcion" cols="10" rows="10" class="form-control" placeholder="Descripcion"></textarea>
<br>
          <label for="">Estado</label>
          <select name="activo" id="" class="form-control">
            <option value="True">Activo</option>
            <option value="False">Inactivo</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
     <!-- modal de inserccion-->


{% endblock contenido %}