{% extends 'base_entecontrol.html' %}
{% block titulo %}Entes de control{% endblock titulo %}
{% block contenido %}
   <center>
   <h5> Entes de control   <button type="button" class="btn btn-outline-success fas fa-plus btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
    
  </button></h5> 
  


    <!-- para error, haciendo validacion-->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

   </center>


  


   <div class="table-responsive"> 
    <table id="tabla-informes" class="table table-bordered table-hover table-striped">
      <caption>
         Entes de control
      </caption>
      <thead>
          <tr>
              <th class="centered">Id</th>
              <th class="text-center centered">Opcion</th>
              <th class="">Nombre</th>
              <th class="text-center centered">Descripcion</th>
              <th class="text-center centered">Estado</th>
              <th class="text-center centered">Fecha de actualizacion</th>
             
          </tr>
      </thead>
      <tbody id="tabla-usuarios">
        {% for objeto in datos %}
        <tr> <!-- SE REMPLAZA CON INPUTS PARA OBTENER LOS DATOS DE ESE INPUT-->
            <td>{{forloop.counter}}</td>
            <td>
              <center>
                <a type="button" class="btn btn-outline-primary fas fa-edit btn-sm"
                data-bs-toggle="modal" data-bs-target="#ex"
                data-id="{{objeto.id}}"
                data-nombre="{{objeto.nombre}}"
                data-descripcion="{{objeto.descripcion}}"
                data-activo="{{objeto.activo}}"
                data-fecha_actualizacion="{{objeto.fecha_actualizacion}}">
             </a>


              </center>
           
          <!--
            <a  class="fa fa-eraser btn btn-outline-danger btn-sm" 
            data-cedula="{{objeto.cedula}}"
            href=""
             > -->
          </td>
            <td>{{objeto.nombre}}</td>
            <td><center>
              {% if objeto.descripcion %}
              {{ objeto.descripcion }}
              {% else %}
              <!-- Renderiza un campo de texto vacío si la descripción es None -->
             
             {% endif %}
          
            </center></td>
            <td>
              
              <center>
              {% if objeto.activo %}
              <button type="button" class="btn btn-success btn-sm">Activo</button>
            {% else %}
              <button type="button" class="btn btn-danger btn-sm">Inactivo</button>
            {% endif %}
            </center></td>
            <td><center>{{objeto.fecha_actualizacion}}</center></td>
         
            
        </tr>
    {% endfor %}

      </tbody>
    </table>

</div>
 





   <!-- Modal de inserccion -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar ente de control</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST" >
            {% csrf_token %}

    

          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" placeholder="Nombre de la entidad" class="form-control" required>
<br>
          <label for="descripcion">Descripcion (opcional)</label> <br>
          <textarea name="descripcion" id="descripcion" cols="10" rows="10" class="form-control" placeholder="Descripcion"></textarea>


<!-- Ocultare el estado debido a que si esta inactivo no se puede cargar en creacion del informes de forma provisional-->
<!--
          <label for="">Estado</label>
          <select name="activo" id="" class="form-control">
            <option value="True">Activo</option>
            <option value="False">Inactivo</option>
          </select>

          -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
     <!-- modal de inserccion-->



  <!-- Modal de actualizacion -->
  <div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar ente de control</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST" >
            {% csrf_token %}

          
          <input type="hidden" name="ente_id" id="ente_id" placeholder="esto va oculto, es para pruebas">

          <label for="nombre">Nombre</label>
          <input type="text" name="nombre_act" id="nombre_act" placeholder="Nombre de la entidad" class="form-control" required>
          <label for="descripcion">Descripcion (opcional)</label> <br>
          <textarea name="descripcion_act" id="descripcion_act" cols="10" rows="10" class="form-control" placeholder="Descripcion"></textarea>


          <!-- deje desabilite el estado y que sepuede modificar solo desde el panel de administracion debido a que
            si esta desabilitado no se visualiza
          <label for="">Estado</label>
          <select name="activo" id="" class="form-control">
            <option value="True">Activo</option>
            <option value="False">Inactivo</option>
          </select>
          -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
     <!-- modal de actualizacion-->


{% endblock contenido %}