{% extends 'base_informes.html' %}
{% block titulo %}Creacion del informe{% endblock titulo %}
{% block contenido %}

<center>
    <h5 class=""><b>S</b>istema de <b>A</b>dministracion de <b>R</b>ecursos y <b>A</b>plicaciones </h5>
        <!-- para error, haciendo validacion-->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
</center>
<form action="" method="POST" enctype="multipart/form-data" >
  {% csrf_token %}

          <!-- Main content -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card card-primary card-outline">
                    <div class="card-header" >
                      <div class="d-flex justify-content-between">
                        <h6 class="m-0">Creación del informe</h6>
                      </div>
                    </div>
                    <form
                      id="form-inform"
                      enctype="multipart/form-data"
                      @submit.prevent="validarDatosCompletosDelInforme"
                    >
                      <div class="card-body">
                        <div class="card card-primary">
                          <div class="card-header"  style="background: #FFFFCC;">
                            <h6 class="card-title" >
                              Datos de creación y responsable del informe
                            </h6>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="report-name"
                                    >Nombre del informe *</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="nombre"
                                    name="nombre"
                                    placeholder="Nombre del informe"
                                    required
                                  />
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label>Ente de Control *</label>


                                  <select
                                    class="form-control"
                                    id="entecontrol"
                                    name="entecontrol"
                                    required
                                  >
                                    <option selected disabled>
                                      Seleccione un Ente de Control
                                    </option>
                                    
                                  </select>



                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="report-regulation">Normativa *</label>
                                  <div class="input-group">
                                    <div class="custom-file ">
                                      <input
                                        type="file"
                                        class="custom-file-input form-control"
                                        id="normativa"
                                        name="normativa"
                                        required
                                      />
                                      
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                              <br> <br> <br>

                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label>Dependencia Responsable *</label>
                                  <select
                                    class="form-control"
                                    id="dependencia"
                                    name="dependencia"
                                    required
                                  >
                                    <option selected disabled>
                                      Seleccione una dependencia
                                    </option>
                                    
                                  </select>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="report-name"
                                    >Nombre del responsable</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="nombreresponsable"
                                    name="nombreresponsable"
                                    placeholder="Nombre del responsable"
                                    disabled
                                  />
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="report-name"
                                    ><b>Correo del responsable *</b></label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="correoresponsable"
                                    name="correoresponsable"
                                    placeholder="Correo del responsable"
                                    readonly
                                  />
                                </div>
                              </div>
                    <!-- codigo original con excepcion de descripcion-->

<br> <br> <br>

                                <div class="col-sm-8">
                                <div class="form-group">
                                  <label for="report-name"
                                    >Descripcion</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="descripcion"
                                    name="descripcion"
                                    placeholder="Descripcion del informe"
                                  />  
                                </div>
                                </div>
                             
      
                            </div>
                          </div>
                        </div>


                        <div class="card card-primary">
                          <div class="card-header" style="background: #FFFFCC;">
                            <h6 class="card-title">
                              Datos de periodicidad del informe
                            </h6>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="report-initial-date"
                                    > <b> Fecha de entrega inicial * </b></label
                                  >
                                  <input
                                    type="date"
                                    class="form-control"
                                    id="fechaentregainicial"
                                    name="fechaentregainicial"
                                    required
                                  />
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="report-regulations"
                                    >Periodicidad del informe *</label
                                  >
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"
                                        ><i class="fas fa-clock"></i
                                      ></span>
                                    </div>
                                    <input
                                      type="number"
                                      name="periodicidad"
                                      id="periodicidad"
                                      class="form-control text-center"
                                      placeholder="15"
                                      required
                                    />
                                    <div class="input-group-append">
                                      <div class="input-group-text">
                                        <select
                                          id="periodicidadtipo"
                                          name="periodicidadtipo"
                                          required="required"
                                          class="form-control-addon border-0"                                        >
                                          <option
                                            
                                          
                                          >
                                            Seleccione un opción
                                          </option>
                                          <option value="Dias">Días</option>
                                          <option value="Meses">Meses</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label for="report-regulations"
                                    >Finalizar despues de cuantas entregas *</label
                                  >

                                 
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <input
                                          type="checkbox"
                                          id="check"
                                          name="check"
                                          
                                        />

                                        <label
                                          for="report-number-deliveries"
                                          class="mb-0 ml-1"
                                          >Nunca
                                          </label
                                        >
                                      </span>
                                    </div>
                                   

                                    <input
                                      type="number"
                                      name="totalentregas"
                                      id="totalentregas"
                                      class="form-control text-center"
                                      min="1"
                                      max="1000"
                                      value="100"
                                    
                                      
                                    />
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>




                        <div class="card card-primary">
                          <div class="card-header" style="background: #FFFFCC;">
                            <h6 class="card-title">Configuración de alarmas</h6>
                          </div>
                          <div class="card-body">
                            <form class="form-control">
                              <div class="row">
                                <div class="col-xs-8 col-sm-4">
                                  <div class="form-group">
                                    <label>Días de anticipación a la fecha de entrega *</label>
                                    <div class="input-group mb-3">
                                      <input type="number" id="alarmas" name="alarmas" min="1" max="100" class="form-control text-center" />
                                      <!-- ALARMAS OCULTAS PARA REALIAR EL REGISTRO SOLO DE LAS TRES PRIMERAS-->
                                      <input type="hidden" id="alarmas2" name="alarmas2">
                                      <input type="hidden" id="alarmas3" name="alarmas3">                                                  <!-- ALARMAS OCULTAS PARA REALIAR EL REGISTRO SOLO DE LAS TRES PRIMERAS-->
                                      <div class="input-group-append">
                                        <div class="input-group-text">
                                          <p class="mb-0">Días</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                  <div class="form-group">
                                    <div class="d-flex flex-column">
                                      <label for="add-alarm">&nbsp;</label>
                                      <button id="add-alarm" type="button" class="btn btn-primary" onclick="agregarAlarma();">
                                        <i class="fas fa-plus"></i> Alarma
                                      </button>
                         
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>

                            <center>
                              <div id="contenedor-alarmas">
                                
                              </div>
                            </center>
                            
                           
                          
                          </div>
                        </div>
                        
                       



                        <div class="card-footer">
                        
                          <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i>
                          Registrar
                          </button>
                          <button
                            type="reset"
                            class="btn btn-danger"
                          >
                            <i class="fas fa-sync-alt"></i> Nuevo registro
                          </button>
                        </div>
  </form>
                          


                        
      
                      
                  </div>
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.content -->
    
     
      
      
          <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Obtener elementos del DOM
                const selectDependencia = document.getElementById('dependencia');
                const nombreresponsableInput = document.getElementById('nombreresponsable');
                const correoresponsableInput = document.getElementById('correoresponsable');
                
                // Función para imprimir el correo del responsable de la dependencia seleccionada
                function imprimirCorreoResponsable() {

                    const selectedOption = selectDependencia.options[selectDependencia.selectedIndex];
                    const correoresponsable = selectedOption.dataset.correoresponsable || ''; // Si no hay valor, dejar el campo vacío
                    const nombreresponsable = selectedOption.dataset.nombreresponsable || '';

                    // Imprimir el correo del responsable por consola
                    console.log('Correo del envio:', correoresponsable);
                    console.log('Nombre del envio:', nombreresponsable);
                    aux = correoresponsable
                   
                }
                
                selectDependencia.addEventListener('change', function() {
                    imprimirCorreoResponsable();
                    
                    const selectedOption = selectDependencia.options[selectDependencia.selectedIndex];
                    const nombreresponsable = selectedOption.dataset.nombreresponsable || ''; 
                    const correoresponsable = selectedOption.dataset.correoresponsable || ''; 
                    
                    nombreresponsableInput.value = nombreresponsable;
                    correoresponsableInput.value = correoresponsable;
                });
                
                // Función para cargar los entes de control desde el servidor
                function cargarEntesControl() {
                    fetch('informe/listado_ente')
                        .then(response => response.json())
                        .then(data => {
                            const selectEnteControl = document.getElementById('entecontrol');
                            data.entes.forEach(ente => {
                                const option = document.createElement('option');
                                option.value = ente.id;
                                option.textContent = ente.nombre;
                                selectEnteControl.appendChild(option);
                            });
                        })
                        .catch(error => console.error('Error al cargar entes de control:', error));
                }
                
                // Función para cargar las dependencias desde el servidor
                function cargarDependencias() {
                    fetch('informe/listado_dependencia')
                        .then(response => response.json())
                        .then(data => {
                            data.dependencias.forEach(dependencia => {
                                const option = document.createElement('option');
                                option.value = dependencia.id;
                                option.textContent = dependencia.nombre;
                                option.dataset.nombreresponsable = dependencia.responsable;
                                option.dataset.correoresponsable = dependencia.correoresponsable;
                                selectDependencia.appendChild(option);
                            });
                            console.log("No se ha seleccionado dependencia")
                            
                        })
                        .catch(error => console.error('Error al cargar dependencias:', error));
                }
                
                //ocultar el input al presionar nunca en total entregas
                function toggleDeliveryInput() {
                    var deliveryInput = document.getElementById("totalentregas");
                    var checkbox = document.getElementById("check");
                    deliveryInput.disabled = checkbox.checked;
                }
                
                // Cargar entes de control y dependencias al cargar la página
                cargarEntesControl();
                cargarDependencias();
                toggleDeliveryInput();//tener en cuenta como esta en un grupo no desabilita al marcar el checked
            });
        </script>



<script>
  //Este srcipt es especial para alarmas
  //funcional pero solo esta agregando la ultima alarma
  function agregarAlarma() {
    var diasAnticipacion = document.getElementById("alarmas").value;
    var contenedorAlarmas = document.getElementById("contenedor-alarmas");

    if (diasAnticipacion) {
        var alarmasInputs = document.querySelectorAll('input[name="alarmas[]"]');
        if (alarmasInputs.length < 3) {
            var nuevaAlarma = document.createElement("div");
            nuevaAlarma.className = "alert alert-warning";
            nuevaAlarma.innerHTML = `
                <input type="hidden" name="alarmas[]" value="${diasAnticipacion}">
                Alarma configurada: ${diasAnticipacion} días de anticipación.
                <button type="button" class="close btn btn-danger" onclick="eliminarAlarma(this)">
                    <span>&times;</span>
                </button>
            `;
            contenedorAlarmas.appendChild(nuevaAlarma);
            
            // Actualizar los campos ocultos
            var alarmas = document.querySelectorAll('input[name="alarmas[]"]');
            if (alarmas.length > 0) document.getElementById("alarmas2").value = alarmas.length > 1 ? alarmas[1].value : "";
            if (alarmas.length > 1) document.getElementById("alarmas3").value = alarmas.length > 2 ? alarmas[2].value : "";
        } else {
            alert("Solo puedes agregar tres alarmas.");
        }
    } else {
        console.log("No se ingresó un valor para la alarma.");
    }
}



function eliminarAlarma(button) {
    if (button && button.parentElement) {
        var alarma = button.parentElement;
        alarma.remove();

        ///agregando las otras dos alarmas
        ///agregando las otras dos alarmas


    } else {
        console.log("No se pudo eliminar la alarma: o no se ha agregado alarmas");
    }
}


    agregarAlarma();
    eliminarAlarma();
    
</script>

{% endblock contenido %}