{% extends 'base_informes.html' %}
{% block titulo %}LIstado de informes{% endblock titulo %}
{% block contenido %}
   <center>
   <h5> Listado de informes </h5>
   </center>
   <div class="table-responsive"> 
    <table id="tabla-usuarios" class="table table-bordered table-hover table-striped">
      <caption>
         Listado de informes
      </caption>
      <thead>
          <tr>
              <th class="centered">Id</th>
              <th class="text-center centered">Opciones</th>
              <th class="text-center centered">Nombre del informe</th>
              <th class="text-center centered">Ente de control</th>
              <th class="text-center centered">Dependencia</th>
              <th class="text-center centered">Entregas</th>
              <th class="text-center centered">Estado</th>
          </tr>
      </thead>
      <tbody id="tabla-usuarios">
        {% for objeto in datos %}
        <tr> <!-- SE REMPLAZA CON INPUTS PARA OBTENER LOS DATOS DE ESE INPUT-->
            <td>{{objeto.id}}</td>
            <td><a  name="ver" class="fa fa-eye btn btn-outline-success btn-sm ver" 
              data-nombre="{{objeto.nombre}}"
              data-id="{{objeto.id}}"
              data-cedula="{{objeto.cedula}}"
              data-cargo="{{objeto.cargo}}"
              data-email="{{objeto.email}}"
              data-supervisor="{{objeto.supervisor}}"
              data-tipodocumento="{{objeto.tipodocumento}}"
              data-bs-toggle="modal"
              data-bs-target="#ex" >
          </a>
          <a  name="ver" class="fa fa-edit btn btn-outline-primary btn-sm ver" 
              data-nombre="{{objeto.nombre}}"
              data-cedula="{{objeto.cedula}}"
              data-cargo="{{objeto.cargo}}"
              data-email="{{objeto.email}}"
              data-supervisor="{{objeto.supervisor}}"
              data-tipodocumento="{{objeto.tipodocumento}}"
              data-bs-toggle="modal"
              data-bs-target="#ex" >
          </a>
          <a  name="ver" class="fa fa-eraser btn btn-outline-danger btn-sm ver" 
              data-nombre="{{objeto.nombre}}"
              data-cedula="{{objeto.cedula}}"
              data-cargo="{{objeto.cargo}}"
              data-email="{{objeto.email}}"
              data-supervisor="{{objeto.supervisor}}"
              data-tipodocumento="{{objeto.tipodocumento}}"
              data-bs-toggle="modal"
              data-bs-target="#ex" >
          </a>
            
          </td>
            <td><center>{{objeto.nombre}}</center></td>
            <td><center>{{objeto.entecontrol_id}}</center></td>
            <td><center>{{objeto.dependencia_id}}</center></td>
            <td>
              <center>

                {{objeto.fechaentregapendiente}}
              <a  name="ver" class="fas fa-folder-open btn btn-outline-secondary btn-sm ver" 
              data-nombre="{{objeto.nombre}}"
              data-cedula="{{objeto.cedula}}"
              data-cargo="{{objeto.cargo}}"
              data-email="{{objeto.email}}"
              data-supervisor="{{objeto.supervisor}}"
              data-tipodocumento="{{objeto.tipodocumento}}"
              data-bs-toggle="modal"
              data-bs-target="#ex" >
          </a>
        </center>
            
            
            
            </td>
            <td><center>
              {% if objeto.activo %}
              <button type="button" class="btn btn-success btn-sm">Activo</button>
            {% else %}
              <button type="button" class="btn btn-danger btn-sm">Inactivo</button>
            {% endif %}
            
            </center></td>
        </tr>
    {% endfor %}

      </tbody>
    </table>

</div>
 
  <!-- Modal de visualizacion-->
<div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del informe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>




        <div class="modal-body">
          <form action="" method="POST" >
          {% csrf_token %}


          <table class="table table-bordered">
            <thead>
              <tr>
      
                <th scope="col"><center>Id:</center></th>
                <th scope="col"><input type="text" name="id" id="id" ></th>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="col"><center>Nombre:</center></th>
                <th scope="col"><input type="text" name="nombre" id="nombre" ></th>
                
              </tr>
              <tr>
          
                <th scope="col"><center>Normativa:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Ente de control:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Dependencia:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Nombre del responsable:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Correo del responsable:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Fecha de entrega inicial:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Fecha de entrega pendiente:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Periodo de repeticion del informe:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>FInalizar despues de cuantas entregas:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Entregas realizadas:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Estado del informe:</center></th>
                <th scope="col"></th>
              
              </tr>
              <tr>
          
                <th scope="col"><center>Alarmas:</center></th>
                <th scope="col"></th>
              
              </tr>
            
            
             
            </tbody>
          </table>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
         
        
        
        
        </div>
    </form>





    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-sm">
         {{ message }}
        </div>
   {% endfor %}

{% endif %}
      </div>
    </div>
  </div>
 
  <!-- AQUI DEBE ASIGNAR EL MISMO SISTEMA EL NOMBRE DE USUARIO Y POR DEFECTO LA CONTRASEÑA ES LA CEDULA-->


{% endblock contenido %}