{% extends 'base_informes.html' %}
{% block titulo %}Listado de informes{% endblock titulo %}
{% block contenido %}
   <center>
   <h5> Listado de informes </h5>
   </center>
   <div class="table-responsive"> 
    <table id="tabla-usuarios" class="table table-bordered table-hover table-striped">
      <caption>
         Listado de informes
      </caption>
      <thead>
          <tr>
              <th class="centered">Id</th>
              <th class="text-center centered">Opciones</th>
              <th class="text-center centered">Nombre del informe</th>
              <th class="text-center centered">Ente de control</th>
              <th class="text-center centered">Dependencia</th>
              <th class="text-center centered">Entregas</th>
              <th class="text-center centered">Estado</th>
          </tr>
      </thead>
      <tbody id="tabla-usuarios">
        {% for objeto in datos %}
        <tr> <!-- SE REMPLAZA CON INPUTS PARA OBTENER LOS DATOS DE ESE INPUT-->
            <td>{{objeto.id}}</td>
            <td><a  name="ver" class="fa fa-eye btn btn-outline-success btn-sm ver" 
              data-nombre="{{objeto.nombre}}"
              data-id="{{objeto.id}}"
              data-normativa="{{objeto.normativa}}"
              data-entecontrol_id="{{objeto.entecontrol.nombre}}"
              data-dependencia_id="{{objeto.dependencia.nombre}}"
              data-bs-toggle="modal"
              data-bs-target="#ex" >
          </a>
          <a class="fa fa-edit btn btn-outline-primary btn-sm" 
               >
          </a>
          <a  class="fa fa-eraser btn btn-outline-danger btn-sm" 
               >
          </a>
            
          </td>
            <td><center>{{objeto.nombre}}</center></td>
            <td><center>{{objeto.entecontrol.nombre}}</center></td>
            <td><center>{{objeto.dependencia.nombre}}</center></td>
            <td>
              <center>

                {{objeto.fechaentregapendiente}}
              <a  class="fas fa-folder-open btn btn-outline-secondary btn-sm" 
              data-nombre="{{objeto.nombre}}"
              href=" {% url 'entrega' %} "
              
              >
          </a>
        </center>
            
            
            
            </td>
            <td><center>
              {% if objeto.activo %}
              <button type="button" class="btn btn-success btn-sm">Activo</button>
            {% else %}
              <button type="button" class="btn btn-danger btn-sm">Inactivo</button>
            {% endif %}
            
            </center></td>
        </tr>
    {% endfor %}

      </tbody>
    </table>

</div>
 
  <!-- Modal de visualizacion-->
<div class="modal fade" id="ex" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="" id="exampleModalLabel">Datos del informe</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>




        <div class="modal-body">
          <form action="" method="POST" >
          {% csrf_token %}


          <table class="table table-bordered table-striped">
         
       


           
            <tbody>
              <tr>
      
                <th scope="col">Id:</th>
                <th scope="col"><input type="text" name="id" id="id" disabled class="form-control"></th>
              
              </tr>
              <tr>
                <th scope="col">Nombre:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
                
              </tr>
              <tr>
          
                <th scope="col">Normativa:</th>
                <th scope="col"><input type="text" name="normativa" id="normativa" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Ente de control:</th>
                <th scope="col"><input type="text" name="entecontrol_id" id="entecontrol_id" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Dependencia:</th>
                <th scope="col"><input type="text" name="dependencia_id" id="dependencia_id" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Nombre del responsable:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Correo del responsable:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Fecha de entrega inicial:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Fecha de entrega pendiente:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Periodo de repeticion del informe:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">FInalizar despues de cuantas entregas:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Entregas realizadas:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Estado del informe:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
              <tr>
          
                <th scope="col">Alarmas:</th>
                <th scope="col"><input type="text" name="nombre" id="nombre" class="form-control"></th>
              
              </tr>
            
            
             
            </tbody>
          </table>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
         
        
        
        
        </div>
    </form>





    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-sm">
         {{ message }}
        </div>
   {% endfor %}

{% endif %}
      </div>
    </div>
  </div>
 
  <!-- AQUI DEBE ASIGNAR EL MISMO SISTEMA EL NOMBRE DE USUARIO Y POR DEFECTO LA CONTRASEÑA ES LA CEDULA-->


{% endblock contenido %}