
<div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
         <center>
            <h6> <b>Actualizar datos </b> </h6>
         </center>
            <form action="">
                <div class="row">
                    <div class="col">
                        <label for="supervisor">Supervisor</label><br>
                        <input type="text" name="supervisor" id="supervisor" placeholder="Actualizar supervisor" class="form-control"  value="{{ supervisor }}">
                        <ul class="list"></ul>
                    </div>
                    <div class="col">
                        <label for="">Contraseña anterior</label>
                        <input type="text" placeholder="Contraseña anterior" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">Contraseña nueva</label>
                        <input type="text" placeholder="Contraseña nueva" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">Contraseña nueva</label>
                        <input type="text" placeholder="Confirmar contraseña nueva" class="form-control">
                    </div>
            
                </div>
                <br>
                <center>
                <button class="btn btn-success">ACTUALIZAR</button>
                </center>
            </form>

        </div>
      </div>
    </div>
</div>