
<div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
        
            <form action="">
                <div class="row">
                    <div class="col">
                        <label for="supervisor">Supervisor</label><br>
                        <input type="text" name="supervisor" id="supervisor" placeholder="Actualizar supervisor" class="form-control">
                        <ul class="list"></ul>
                    </div>
                    <div class="col">
                        <label for="">Contraseña</label>
                        <input type="text" placeholder="contraseña anterior" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">Contraseña</label>
                        <input type="text" placeholder="contraseña anterior" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">Contraseña</label>
                        <input type="text" placeholder="contraseña anterior" class="form-control">
                    </div>
            
                </div>
                <br>
                <center>
                <button class="btn btn-success">ACTUALIZAR</button>
                </center>
            </form>

        </div>
      </div>
    </div>
</div>