
<div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
         <center>
            <h6> <b>Actualizar datos </b> </h6>
         </center>
            <form action="">
                <div class="row">
                    <div class="col">
                        <label for="supervisor">Supervisor</label><br>
                        <input type="text" name="supervisor" id="supervisor" placeholder="Actualizar supervisor" class="form-control"  value="{{ supervisor }}">
                        <ul class="list"></ul>
                    </div>
                    <div class="col">
                        <label for="">Contraseña anterior</label>
                        <input type="text" placeholder="Contraseña anterior" class="form-control">
                    </div>


                    <div class="col">
                         <div class="col" id="grupo__password">
              <label class="" for="password">Cambio de contraseña</label>
              <div class="formulario__grupo-input">
                <input type="password" class="form-control formulario__input" name="password" id="password" placeholder="Digite contraseña nueva" required>
                <i class="formulario__validacion-estado fas fa-time-circle"></i>
              </div>
              <!--
              <p class="formulario__input-error">La contraseña debe ser de 4 a 12 digitos</p> 
              -->
           </div>
                    </div>
                    <div class="col">
                        <div class="col" id=grupo__password2>
                            <label for="password2" class="">Cambio de contraseña</label>
                            <div class="formulario__grupo-input">
                            <input type="password" class="form-control formulario__input" name="password2" id="password2" placeholder="Repetir contraseña nueva" required>
                            <i class="formulario__validacion-estado fas fa-time-circle"></i>
                            </div>
                            <!--
                            <p class="formulario__input-error">Ambas contraseñas deben ser iguales</p> 
                          --></div>
                    </div>
            
                </div>
            
                <center>
                <button class="btn btn-success">ACTUALIZAR</button>
                </center>
            </form>

        </div>
      </div>
    </div>
</div>