{% extends 'base_layout_gescon.html' %}
{% block titulo %}Crear usuario{% endblock titulo %}
{% block contenido %}

<div class="card">

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="{% url 'crear' %}"> Registrar un usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fas fa-id-card" href="{% url 'documentos' %}" style=" color:  #1d985a">Registrar documentos</a>
            </li>
            
          </ul>
    
    </div>

    <div class="card-body">
        <h5 class="card-title">Datos del usuario a registrar</h5>
        {% include 'form.html' %}
    </div>

    <!--
    <div class="card-footer text-muted">
    </div>
-->
</div>

{% endblock contenido %}