{% extends 'base_layout_gescon.html' %}
{% block titulo %}Dashboard{% endblock titulo %}
{% block contenido %}

<center>
    <h5 class=""><b>S</b>istema de <b>A</b>dministracion de <b>R</b>ecursos y <b>A</b>plicaciones </h5>
    
    
    
</center>



<form action="" class="form-control">
    
    

    <div class="row container center">
     <div class="col-4">
        <label for="">Modulo:</label>
        <select name="" id="" class="form-control">
            <option value="">Gestion de informes</option>
            <option value="">Gestion de cuentas</option>
            <option value="">Gestion de Interoapibilidad</option>
            <option value="">Gestion de identidades</option>
            <option value="">Gestion de usuarios</option>
            <option value="">Gestion de apis</option>
           
            
        </select>
     </div>


     <div class="col">
        Modelo a graficar
        <select name="" id="" class="form-control">
            <option value="">Tareas programadas</option>
            <option value="">Entregas</option>
            <option value="">Cargues de evidencias</option>
           
            
        </select>

      </div>

      <div class="col">

        
        Fecha
        <input type="date" name="" id="" class="form-control">


      
    
      </div>
      
      <div class="col">
        Tipo de grafica
        <select name="" id="" class="form-control">
            <option value="">Torta</option>
            <option value="">Barras</option>
            <option value="">Combinado</option>
            <option value="">Puntos</option>
            
        </select>

      </div>

    
    
    </div>
    <br>
    
    <center>
   
      <img src="{{ data }}" alt="Gráfica de Tareas del Mes">
    </center>
          
    
    

             
                


</form>


{% endblock contenido %}