<div class="table-resposive"> 
<table id="datatable-programmers" class="table">
  <caption>
     Usuarios registrados
  </caption>
  <thead>
      <tr>
          <th class="centered">#</th>
          <th class="centered">Nombre</th>
          <th class="centered">Segundo nombre</th>
          <th class="centered">Primer apellido</th>
          <th class="centered">Segundo apellido</th>
          <th class="centered">Cedula</th>
          <th class="centered">Acciones</th>
      </tr>
  </thead>
  <tbody id="tableBody_programmers"></tbody>
</table>
</div>