<!DOCTYPE html>
<html>
<head>
    <title>Extracción de Texto de PDF</title>
</head>
<body>
    <h1>Extracción de Texto de PDF</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="archivo_pdf">
        <input type="submit" value="Extraer Texto">
    </form>

    <br>

    <h2>Texto Extraído:</h2>
    <label for="">Texto general:</label>
    <input type="text" id="texto_extraido" name="texto_extraido" value="{{ texto_extraido }}" readonly> <br>
    <label for="">Numero del contrato:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly> <br>
    <label for="">Numero del proceso:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly><br>
    <label for="">Objeto:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly><br>
    <label for="">Fecha de perfeccionamiento:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly><br>
    <label for="">Valor del contrato:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly><br>
    <label for="">Fecha inicial:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly><br>
    <label for="">Fecha final:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly><br>
    <label for="">Duracion:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly><br>
    <label for="">Supervisor:</label>
    <input type="text" id="" name="" value="{{ texto_extraido }}" readonly>

    
</body>
</html>










<!--
<html>
<head>
    <title>Extraer texto de PDF</title>
</head>
<body>
    <h1>Extraer texto de PDF</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'extraer_texto' %}">
        {% csrf_token %}
        <input type="file" name="archivo" accept=".pdf" required>
        <br><br>
        <button type="submit">Extraer texto</button>
    </form>
    {% if texto_extraido %}
        <hr>
        <h2>Texto extraído:</h2>
        <pre>{{ texto_extraido }}</pre>
    {% endif %}
</body>
</html>
-->
