<form action="" method="post" class="form-control">
    <div class="row">
        <div class="col">
            <label for="nombre">Primer nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control"> 
        </div>

        <div class="col">
            <label for="segundonobre">Segundo nombre</label>
            <input type="text" name="segundonombre" id="segundonombre" class="form-control">
        </div>

        <div class="col">
            <label for="primerapellido">Primer apellido</label>
            <input type="text" name="primerapellido" id="primerapellido" class="form-control">
        </div>

        <div class="col">
            <label for="segundoapellido">Segundo apellido</label>
            <input type="text" name="segundoapellido" id="segundoapellido" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="sexo">Sexo</label>
            <input type="text" name="sexo" id="sexo" class="form-control"> 
        </div>

        <div class="col">
            <label for="tipodocumento">Tipo de documento</label>
            <input type="text" name="tipodocumento" id="tipodocumento" class="form-control">
        </div>

        <div class="col">
            <label for="cedula">Cedula</label>
            <input type="text" name="cedula" id="cedula" class="form-control">
        </div>

        <div class="col">
            <label for="lugarexpedicion">Lugar de expedicion</label>
            <input type="text" name="lugarexpedicion" id="lugarexpedicion" class="form-control">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <label for="dependencia">Dependencia</label>
            <input type="text" name="dependencia" id="dependencia" class="form-control"> 
        </div>

        <div class="col">
            <label for="correo">Correo</label>
            <input type="text" name="correo" id="correo" class="form-control">
        </div>

        <div class="col">
            <label for="supervisor">Supervisor</label>
            <input type="text" name="supervisor" id="supervisor" class="form-control">
        </div>

        <div class="col">
            <label for="cargo">Cargo o N° de Contrato</label>
            <input type="text" name="cargo" id="cargo" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="">Rol</label>
            <input type="text" name="" id="" class="form-control"> <!-- CAMBIAR POR UN SELECT-->
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>



    <center> <br>
<button class="btn btn-success">Registrar</button>
</center>
</form>