<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active"  aria-current="true" href=""> Avances de la cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fas fa-id-card"  href="{% url 'documentos_usuario' %}" style="color: #1d985a">Actualizar documentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fas fa-user-edit" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="color: #1d985a">Actualizar datos del pefil</a>

            </li>
            
            
          </ul>
    </div>
    <div class="card-body">
      
      <form action="">

        <div class="row">
          <div class="col">
              <label for="">Primer nombre</label>
              <input type="text" class="form-control">
          </div>

          <div class="col">
              <label for="">Segundo nombre</label>
              <input type="text" class="form-control">
          </div>

          <div class="col">
              <label for="">Primer apellido</label>
              <input type="text" class="form-control">
          </div>

          <div class="col">
            <label for="">Cedula</label>
            <input type="text" class="form-control">
        </div>
      </div>


        <div class="row">
            <div class="col">
                <label for="">Comentarios</label>
                <input type="text" class="form-control">
            </div>

            <div class="col">
                <label for="">Estado</label>
                <input type="text" class="form-control">
            </div>

            <div class="col">
                <label for="">Estado</label>
                <input type="text" class="form-control">
            </div>

            <div class="col">
              <label for="">Estado</label>
              <input type="text" class="form-control">
          </div>
        </div>
      </form>
<br>
    <center>
    <button class="btn btn-outline-success">Pasar la cuenta</button>
    </center>
    </div>


</div>