{% load static %}
<form action="" method="POST" class="form-control" enctype="multipart/form-data">
{% csrf_token %}
  <center><h5>Gestionar perfil</h5></center>
<br>
    <div class="row">
        <div class="col">
            <center>
                <img  src=" {% static imagenperfil %} "  alt="" style="width: 200px; text-align: center;height: 149px" name="imagen" id="imagen">
            </center>
            <input type="file" name="" id="" class="form-control" style="">
          
        </div>

        <div class="col">
            <label for="Nombre">Nombre:</label>
            <input type="text" class="form-control" placeholder="Nombre completo" value="{{nombre}} {{segundo_nombre}}">
            <label for="">Apellidos:</label>
            <input type="text" class="form-control" placeholder="Apellidos" value="{{primer_apellido}} {{segundo_apellido}}">
            <label for="Nombre">Cedula:</label>
            <input type="number" class="form-control" placeholder="Cedula" readonly value="{{cedula}}" name="cedula" id="cedula">
          
        </div>

        <!--DATOS A ACTUALIZAR-->
        <div class="col">
            <label for="">Email:</label>
            <input type="text" class="form-control" placeholder="Correo personal" value="{{email}}" name="email" id="email">
            <label for="Nombre">Telefono:</label>
            <input type="number" class="form-control" placeholder="Telefono" value="{{telefono}}" name="telefono" id="telefono">
            <label for="Nombre">Direccion:</label>
            <input type="text" class="form-control" placeholder="Dirrecion del domicilio actual" value="{{direccion}}" name="direccion" id="direccion">
        </div>
       
    </div>

        <center>
            <button type="submit" class="btn btn-outline-secondary btn-sm m-1">Actualizar</button>
        </center>
        


    <hr>
    <div class="row">
        <h6><b>Datos de la cuenta bancaria</b></h6>
        <div class="col">
            <label for="">Nombre de la cuenta bancaria:</label>
            <input type="text" name="nombrecb" id="nombrecb" class="form-control" placeholder="Nombre de la entidad bancaria" value="{{nombrecb}}">
        </div>

        <div class="col">
            <label for="">Tipo de cuenta:</label>
            <input type="text" name="tipocuenta" id="tipocuenta" class="form-control" placeholder="Tipo de cuenta" value="{{tipocuenta}}">
        </div>

      
        <div class="col">
            <label for="">Numero de la cuenta:</label>
            <input type="number" name="numero" id="numero" class="form-control" placeholder="Digite numero de la cuenta bancaria" value="{{numerocb}}">
        </div>
    </div>
    <br>
    <div class="row">
        <h6><b>Datos de afiliacion</b></h6>
        <div class="col">
       
            <label for="">Nombre de la entidad de pension:</label>
            <input type="text" name="nombrepension" id="nombrepension" class="form-control" placeholder="Nombre de la entidad de pension" value="{{nombrepension}}">
        </div>

        <div class="col">
            
            <label for="">Nombre de la entidad de salud:</label>
            <input type="text" name="nombresalud" id="nombresalud" class="form-control" placeholder="Nombre de la entidad de salud" value="{{nombresalud}}">
        </div>

        <div class="col">
            
            <label for="">Nombre de la entidad de arl:</label>
            <input type="text" name="" id="" class="form-control" placeholder="Nombre de la entidad arl" value="{{nombrearl}}">
        </div>

        <div class="col">
            
            <label for="">Numero de la planilla:</label>
            <input type="number" name="" id="" class="form-control" placeholder="Digite numero de planilla" value="{{numeroplanilla}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
       
            <label for="">Valor de pension:</label>
            <input type="text" name="" id="" class="form-control" placeholder="Digite valor de pension" value="{{valorpension}}">
        </div>

        <div class="col">
            
            <label for="">Valor de salud:</label>
            <input type="text" name="" id="" class="form-control" placeholder="Digite valor de salud" value="{{valorsalud}}">
        </div>

        <div class="col">
            
            <label for="">Valor de arl:</label>
            <input type="text" name="" id="" class="form-control" placeholder="Digite valor de arl" value="{{valorarl}}">
        </div>

        <div class="col">
            
            <label for="">Valor total de planilla:</label>
            <input type="number" name="" id="" class="form-control" placeholder="Valor total de planilla" value="{{valortotalplanilla}}">
        </div>

        <div class="col">
            <label for="">Cargue planilla pdf:</label>
            <input type="file" class="form-control">
        </div>
    </div>


    <div class="row">
        <div class="col">
           
        </div>
       <div class="col">
        <center>
            <button type="submit" class="btn btn-outline-secondary btn-sm m-1">Actualizar</button>
        </center>
       </div>
    
        <div class="col">
    
        </div>
    </div>
    
</form>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
    {{ message }}
    </div>
    {% endfor %}
{% endif %}