<nav id="navbar-example2" class="navbar bg-body-tertiary">
    <h5>Subir documentos del usuario</h5>
     <ul class="nav nav-pills">
       <li class="nav-item">
         <a class="nav-link text-success" href="#scrollspyHeading1">Contrato</a>
       </li>
       <li class="nav-item">
         <a class="nav-link text-success" href="#scrollspyHeading2">Planilla</a>
       </li>
       <li class="nav-item">
        <a class="nav-link text-success" href="#scrollspyHeading3">Seguimiento cuentas</a>
      </li>
     </ul>
 </nav>
 
   <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary rounded-2" tabindex="0">
   </div> 
 
 
 
 <form action="" method="post" class="form-control">
     <div class="row">
       <div class="col"  id="scrollspyHeading1">
             <div class="card">
                <!-- <img src="..." class="card-img-top" alt="...">-->
                 <div class="card-body">
                  <center>
                  <h6 class="card-title"><b>Contrato </b><br> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver
                    <span class="  position-absolute top-0 start-100 translate-middle badge rounded-pill {% if numero > 1 %}fas fa-check bg-success{% else %}fas fa-times bg-secondary{% endif %}">
                      
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </button></h6>
                  </center>
                  <input type="file" name="pdffFile" id="pdffFile" class="form-control">
                 <label for="">Numero de contrato:</label>
                 <input type="number" placeholder="Numero de contrato" class="form-control" value="{{numero}}">
                 <label for="">Duracion de contrato:</label>
                 <input type="text" placeholder="Numero de contrato" class="form-control" value="{{duracion}}">
                 <label for="">Estado:</label>
                 <input type="text"  class="form-control" value="{{estado}}">
                   <br>
                    <center>
                  {% if messages %}
                      {% for message in messages %}
                       <div class="alert alert-success" role="alert">
                           {{ message }}
                      </div>
                      {% endfor %}
                  {% endif %} 

                   <a href="#" class="btn btn-outline-success fas fa-magic">Generar</a>
                  
                    </center>
                </div>
              </div> 
         </div>

     {% include 'modal_contrato_usuario.html' %}
     {% include 'modal_rp.html' %}
     {% include 'modal_actainicio.html' %}
     {% include 'modal_planilla.html' %}
     {% include 'modal_actividades.html' %}
     {% include 'modal_actapago.html' %}
     {% include 'modal_certificadoseguimiento.html' %}
 

     <div class="col">
             <div class="card">
                 <!--<img src="..." class="card-img-top" alt="..."> -->
                 <div class="card-body">
                  <center>
                  <h6 class="card-title"><b>Registro prespuestal </b><br> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    
                  </button></h6>
                  </center>
                  <input type="file" name="pdffFiles" id="pdffFiles" class="form-control">
                 <label for="">Numero del registro:</label>
                 <input type="number" placeholder="Numero del registro presupuestal" class="form-control">
                 <label for="">Fecha del registro:</label>
                 <input type="date" placeholder="Numero de contrato" class="form-control">
                 <label for="">Estado:</label>
                 <input type="text"  value="Pendiente por cargar pdf" class="form-control">
                   <br>
                    <center>
                   <a href="#" class="btn btn-outline-success fas fa-magic">Generar</a>
                    </center>
                 </div>
               </div> 
     </div>
 
 
     <div class="col">
         <div class="card">
             <!--<img src="..." class="card-img-top" alt="..."> -->
             <div class="card-body">
              <center>
              <h6 class="card-title"><b>Acta de inicio </b><br> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal3">Ver</button></h6>
              </center>
              <input type="file" name="pdffFiless" id="pdffFiless" class="form-control">
              <label for="">Fecha de acta de inicio</label>
             <input type="date" placeholder="Numero de contrato" class="form-control">
             <label for="">Valor del contrato</label>
             <input type="text" placeholder="Duracion del contrato" class="form-control">
             <label for="">Estado:</label>
             <input type="text"  value="Pendiente por cargar pdf" class="form-control">
              <br>
              <center>
               <a href="#" class="btn btn-outline-success fas fa-magic">Generar</a>
              </Center>
             </div>
           </div> 
 </div>  
 </div>
 
  <hr>
 
     <div class="row">
         <div class="col">
             <div class="card">
                <!-- <img src="..." class="card-img-top" alt="...">-->
                 <div class="card-body">
                  <center>
              <h6 class="card-title"><b>Planilla </b><br> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal4">Ver</button></h6>
            </center>
              <input type="file" name="pdffFilesss" id="pdffFilesss" class="form-control">
                 <label for="">Numero de planilla</label>
                 <input type="text" placeholder="Numero de contrato" class="form-control">
                
                   <br>
                   <center>
                   <a href="#" class="btn btn-outline-success fas fa-magic">Generar</a>
                  </center>
                  </div>
             </div>
         </div> 
    
 
    
   <div class="col">
       <div class="card"> 
         <div class="card-body">
          <center>
          <h6 class="card-title"><b>Actividades </b><br> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal5">Ver</button></h6>
        </center>
          <input type="file" name="" id="" class="form-control">
               <label for="">Numero de cdp</label>
               <input type="text" placeholder="Numero de contrato" class="form-control">
              
                 <br>
                 <center>
                 <a href="#" class="btn btn-outline-success fas fa-magic">Generar</a>
                </center>
                </div>
       </div>
   </div> 
 

   <!-- TOCA HACERLOS DEPENDIENTES, QUE UNO DEPENDA DEL OTRO-->
<div class="col" id="scrollspyHeading2">
    <div class="card"> 
       <div class="card-body">
        <center>
        <h6 class="card-title"><b>Acta de pago </b><br> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal6">Ver</button></h6>
      </center>
        <input type="file" name="" id="" class="form-control">
             <label for="">Numero de planilla</label>
             <input type="text" placeholder="Numero de contrato" class="form-control">
            
               <br>
               <center>
               <a href="#" class="btn btn-outline-success fas fa-magic">Generar</a>
              </center>
              </div>
     </div>
 </div> 
 
 </div> <hr>
<div class="row">
  <div class="col" id="scrollspyHeading3">
    <div class="card"> 
      <div class="card-body">
        <center>
        <h6 class="card-title"><b>Certificado de seguimiento de cuentas </b><br> <button type="button" class="btn btn-outline-secondary fas fa-eye" data-bs-toggle="modal" data-bs-target="#exampleModal7">Ver</button></h6>
      </center>      
        <input type="file" name="" id="" class="form-control">
            <label for="">Certificado seguimiento de cuentas</label>
            <input type="text" placeholder="Numero de contrato" class="form-control">
           
              <br>
              <center>
              <a href="#" class="btn btn-outline-success fas fa-magic">Generar</a>
            </center>
        </div>
    </div>
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>
 
    
 
 
   </div>
 </form>