<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active"  aria-current="true" href=""> Avances de la cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fas fa-id-card"  href="{% url 'documentos_usuario' %}" style="color: #1d985a">Actualizar documentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fa fa-user-edit" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="color: #1d985a">Actualizar datos del pefil</a>

            </li>
          
            
            
          </ul>
    </div>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: {{progreso}}%">{{progreso}}%</div>
    </div>
    <div class="card-body">
      
      <form  action="" method="POST" autocomplete="off" style="font-family: Lato;">
        <center>
          <h6><b>Informacion de cuenta</b></h6>
          </center>
        <div class="row">
          <div class="col">
              <label for="">Nombre completo:</label>
              <input type="text" class="form-control" value="{{nombre_usuario}} {{segundo_nombre}} {{primer_apellido}} {{segundo_apellido}}">
          </div>

          <div class="col">
            <label for="">Cedula:</label>
            <input type="text" class="form-control" value=" {{ cedula }}">
        </div>

            <div class="col">
                <label for="">Estado:</label>
                <input type="text" class="form-control" value="{{ estado }}">
            </div>

          
      </div>


        <div class="row">
         


            <div class="col">
              <label for="">Email:</label>
              <input type="text" class="form-control" value="{{ email }}">
          </div>

          <div class="col">
              <label for="">Supervisor:</label>
              <input type="text" class="form-control" value="{{ supervisor }}">
          </div>

          
          <div class="col">
            <label for="">Observaciones:</label>
            <input type="text" class="form-control" placeholder="No tiene observaciones de cuenta" value="{{observacionesc}}">
        </div>
        </div>

      
        <!--AQUI VA LA GESTION DEL CHECKBOX COLLAPSE PARA VER TODA LA INFORMACION DE LA CUENTA-->
        <div class="container">
          <div class="form-group">
            <div class="form-check">
<br>

              <div class="row">
                <div class="col ">
                  <input class="form-check-input " type="checkbox" id="miCheckbox" data-toggle="collapse" data-target="#contenido" aria-expanded="false" aria-controls="contenido">
                  <label class="form-check-label fas fa-eye" for="miCheckbox" >
                     Gestion contratacion
                   </label>
                </div>

                <div class="col">
                  <input class="form-check-input" type="checkbox" id="miCheckbox2" data-toggle="collapse" data-target="#contenido2" aria-expanded="false" aria-controls="contenido2">
                  <label class="form-check-label fas fa-eye" for="miCheckbox2" >
                      Planilla
                   </label>
                </div>

                <div class="col">
                  <input class="form-check-input" type="checkbox" id="miCheckbox3" data-toggle="collapse" data-target="#contenido3" aria-expanded="false" aria-controls="contenido3">
                  <label class="form-check-label fas fa-eye" for="miCheckbox2" >
                     Actividades
                   </label>
                </div>

                <div class="col">
                  <input class="form-check-input" type="checkbox" id="miCheckbox4" data-toggle="collapse" data-target="#contenido4" aria-expanded="false" aria-controls="contenido4">
                  <label class="form-check-label fas fa-eye" for="miCheckbox2" >
                     Acta de pago
                   </label>
                   
                </div>

                <div class="col">
                  <input class="form-check-input" type="checkbox" id="miCheckbox5" data-toggle="collapse" data-target="#contenido5" aria-expanded="false" aria-controls="contenido5">
                  <label class="form-check-label fas fa-eye" for="miCheckbox2" >
                     Seguimiento de cuentas
                   </label>
                </div>
      
              </div>
      

            
            </div>
            
          </div>


          <!--GESTION DE CONTRATACION-->
          <div class="collapse" id="contenido">
            <div class="card card-body">
           
                <div class="row">
                  <center>
                  <h6><b>Gestion de contratacion</b></h6>
                  </center>
                  <div class="col">
                    <label for="">N° contrato:</label>
                    <input type="text" name="" id="" class="form-control" value="{{numero}}">
                  </div>
                  <div class="col">
                    <label for="">Objeto:</label>
                    <input type="text" name="" id="" class="form-control" value="{{objeto}}">
                  </div>
                  <div class="col">
                    <label for="">Valor total:</label>
                    <input type="text" name="" id="" class="form-control" value="{{valor}}">
                  </div>
                </div>
            

                <div class="row">
                  <div class="col">
                    <label for="">Fecha terminacion:</label>
                    <input type="text" name="" id="" class="form-control" value="{{fechaterminacion}}">
                  </div>
                  <div class="col">
                    <label for="">Duraccion:</label>
                    <input type="text" name="" id="" class="form-control" value="{{duracion}}">
                  </div>  
                    <div class="col">
                    <label for="">pdf del  contrato:</label>
                    <input type="file" name="" id="" class="form-control">
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label for="">Numero del registro presupuestal:</label>
                    <input type="text" name="" id="" class="form-control" value="{{numerorp}}">
                  </div>
                  <div class="col">
                    <label for="">Fecha del rp:</label>
                    <input type="text" name="" id="" class="form-control" value="{{fecharp}}">
                  </div>
                  <div class="col">
                    <label for="">Pdf de registro presupuestal:</label>
                    <input type="file" name="" id="" class="form-control">
                  </div>
                </div>

                
                <div class="row">
                  <div class="col">
                    <label for="">Numero del acta de inicio:</label>
                    <input type="text" name="" id="" class="form-control" value="{{numeroai}}">
                  </div>
                  <div class="col">
                    <label for="">Fecha del acta de inicio:</label>
                    <input type="text" name="" id="" class="form-control" value="{{fechaai}}">
                  </div>
                  <div class="col">
                    <label for="">Pdf del acta de inicio:</label>
                    <input type="file" name="" id="" class="form-control">
                  </div>
                </div>
   
            </div>
          </div>
          <!--GESTION DE CONTRATACION-->
         
          <!--PlANILLA-->
          <div class="collapse" id="contenido2">
            <div class="card card-body">
           
                <div class="row">
                  <center>
                  <h6><b>Planilla</b></h6>
                  </center>
                  <div class="col">
                    <label for="">N° de planilla:</label>
                    <input type="text" name="" id="" class="form-control" value="{{numeroplanilla}}">
                  </div>
                  <div class="col">
                    <label for="">Fecha de pago de planilla:</label>
                    <input type="text" name="" id="" class="form-control" value="{{fechaplanilla}}">
                  </div>
                  <div class="col">
                    <label for="">Valor total de la planilla:</label>
                    <input type="number" name="" id="" class="form-control" value="{{valortotalplanilla}}">
                  </div>
                  <div class="col">
                    <label for="">Periodo de pago de la planilla:</label>
                    <input type="text" name="" id="" class="form-control" value="{{periodoplanilla}}">
                  </div>
                </div>
            

                <div class="row">
                  <div class="col">
                    <label for="">Nombre de la entidad de salud:</label>
                    <input type="text" name="" id="" class="form-control" value="{{nombresalud}}">
                  </div>
                  <div class="col">
                    <label for="">Valor de la salud:</label>
                    <input type="text" name="" id="" class="form-control" value="{{valorsalud}}">
                  </div>  
                    <div class="col">
                    <label for="">Nombre de la entidad arl:</label>
                    <input type="text" name="" id="" class="form-control" value="{{nombrearl}}">
                  </div>
                  <div class="col">
                    <label for="">Valor de la entidad arl:</label>
                    <input type="text" name="" id="" class="form-control" value="{{valorarl}}">
                  </div>  
                </div>

                <div class="row">
                  <div class="col">
                    <label for="">Nombre de la entidad de pension:</label>
                    <input type="text" name="" id="" class="form-control" value="{{nombrepension}}">
                  </div>
                  <div class="col">
                    <label for="">Valor de la entidad de pension:</label>
                    <input type="text" name="" id="" class="form-control" value="{{valorpension}}">
                  </div>
                  <div class="col">
                    <label for="">Pdf de planilla paga:</label>
                    <input type="file" name="" id="" class="form-control">
                  </div>
                  <div class="col">
                 
                  </div>
                  
                </div>

              
   
            </div>
          </div>
          <!--PLANILLA-->
     
          <!--ACTIVIDADES-->
          <div class="collapse" id="contenido3">
            <div class="card card-body">
           
                <div class="row">
                  <center>
                  <h6><b>Actividades</b></h6>
                  </center>
                  <div class="col">
                    <label for="">Lugar donde realizo la actividad:</label>
                    <input type="text" name="" id="" class="form-control" value="{{lugar}}">
                  </div>
                  <div class="col">
                    <label for="">Fecha de actividades:</label>
                    <input type="text" name="" id="" class="form-control" value="{{fechaact}}">
                  </div>
                 
                  <div class="col">
                    <label for="">Pdf de actividades:</label>
                    <input type="file" name="" id="" class="form-control" value="">
                  </div>
                </div>
            
                <div class="row">
                  <div class="col">
                    <label for="">Actividad realizada:</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Digite una actividad realizada" value="{{actividadess}}">
                  </div>
                  <div class="col">
                    <label for="">Resultado de actividad:</label>
                    <input type="text" class="form-control" placeholder="Digite una actividad realizada" value="{{resultadoactividades}}"">
                  </div>
                </div>

   
            </div>
          </div>
           <!--ACTIVIDADES-->
   
          <!--ACTA DE PAGO-->
          <div class="collapse" id="contenido4">
            <div class="card card-body">
           
                <div class="row">
                  <center>
                  <h6><b>Acta de pago</b></h6>
                  </center>
                  <div class="col">
                    <label for="">Lugar donde realizo la actividad:</label>
                    <input type="text" name="" id="" class="form-control" value="">
                  </div>
                  <div class="col">
                    <label for="">Periodo:</label>
                    <input type="month" name="" id="" class="form-control" value="">
                  </div>
                 
                  <div class="col">
                    <label for="">Pdf de actividades:</label>
                    <input type="file" name="" id="" class="form-control" value="">
                  </div>
                </div>
            
            </div>
          </div>
          <!--ACTA DE PAGO-->
       
          <!--CERTIFICADO SEGUIMIENTO DE CUENTAS-->
          <div class="collapse" id="contenido5">
            <div class="card card-body">
           
                <div class="row">
                  <center>
                  <h6><b>Acta de pago</b></h6>
                  </center>
                  <div class="col">
                    <label for="">Lugar donde realizo la actividad:</label>
                    <input type="text" name="" id="" class="form-control" value="">
                  </div>
                  <div class="col">
                    <label for="">Fecha de actividades:</label>
                    <input type="text" name="" id="" class="form-control" value="">
                  </div>
                 
                  <div class="col">
                    <label for="">Pdf de actividades:</label>
                    <input type="file" name="" id="" class="form-control" value="">
                  </div>
                </div>
            
            </div>
          </div>





        </div>
        <!--AQUI VA LA GESTION DEL CHECKBOX COLLAPSE PARA VER TODA LA INFORMACION DE LA CUENTA-->

      </form>
<br>
    <center>
    <button class="btn btn-outline-success" disabled>Pasar la cuenta</button>
    </center>
    </div>
    <div class="card-footer text-muted">

      <div class="row">
          <div class="col-8">
           
              "Intentando lo Imposible es como se Realiza lo Posible"
        
          </div>

          <div class="col-2">
              <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                    <li class="page-item" >
                      <a class="page-link" href="{% url 'documentos' %}">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
          </div>
      </div>
  </div>


</div>