<form  method="POST" class="form-control" enctype="multipart/form-data">
  {% load static %}
  {% csrf_token %}
  <!-- VALIDAR CONTRATOS Y ADICCIONES-->
  <!-- GESTION DE CONTRATOS--> 
  <center> 
  <h5>Gestionar cuenta</h5>
  </center>
  <div class="row">
    
    <div class="col-6">
      <p class=" fal fa-folder">     Contrato #{{numero}} del 2023</p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-white fas fa-eye" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                           
        </button>

                          <!-- Modal -->
                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Informacion de contratacion</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <h6><b>Informacion del contrato</b></h6> 
                                  <div class="row">
                                      <!-- OCULTOS PARA GESTIONARLOS CUANDO LOS PASO-->
                                      <input type="hidden" placeholder="Nombre completo" class="form-control" value="{{nombre}} {{segundonombre}} {{primerapellido}} {{segundoapellido}}" name="nombrecompleto" id="nombrecompleto">
                                      <input type="hidden" placeholder="Cedula" class="form-control" value="{{cedula}}" name="cedula" id="cedula">
                                   

                                    <div class="col">
                                      <label for="">Numero del contrato:</label>
                                      <input type="number" placeholder="Numero del contrato" class="form-control" value="{{numero}}">
                                    </div>
                                    <div class="col">
                                      <label for="">Numero del proceso:</label>
                                      <input type="number" placeholder="Numero del proceso" class="form-control" value="{{numeroproceso}}">
                                    </div>
                                    <div class="col">
                                      <label for="">Fecha perfeccion:</label>
                                      <input type="text" placeholder="Fecha de perfeccionamiento" class="form-control" value="{{fechaperfeccionamiento}}">
                                    </div>
                                    <div class="col">
                                      <label for="">Valor del contrato:</label>
                                      <input type="number" placeholder="Valor del contrato" class="form-control" value="{{valor}}">
                                    </div>
                                   
                                  </div>

<br>
                                  <div class="row">
                                    

                                    <div class="col">
                                      <label for="">Fecha inicial:</label>
                                      <input type="text" placeholder="Fecha inicial del contrato" class="form-control" value="{{fechacontrato}}">
                                    </div>

                                    <div class="col">
                                      <label for="">Fecha final:</label>
                                      <input type="text" placeholder="Fecha final del contrato" class="form-control" value="{{fechaterminacion}}">
                                    </div>

                                    <div class="col">
                                      <label for="">Duracion:</label>
                                      <input type="text" placeholder="Duracion" class="form-control" value="{{duracion}}">
                                    </div>

                                    <div class="col">
                                      <label for="">Supervisor:</label>
                                      <input type="text" placeholder="Supervisor" class="form-control" value="{{supervisor}}">
                                    </div>

                                    <div class="col">
                                      <br>
                                      <center>
                                       <a href="{% static archivo %}" target="_blank" class="fas fa-file-pdf" style="color: grey;">Ver PDF del contrato</a>
 
                                      </center>
                                     
                                     </div>
                                  </div>
<br>
                                  <div class="row">
                                    <div class="col">
                                      <label for="">Objeto del contrato:</label>
                                      <input type="text" placeholder="Objeto del contrato" class="form-control" value="{{objeto}}">
                                    </div>
                                  </div>
                                  <hr>
                                  <h6><b>Informacion adiccional</b></h6> 
                                  <div class="row">
                                  <div class="col">
                                    <label for="">Numero del registro presupuestal:</label>
                                    <input type="text" placeholder="Numero del rp" class="form-control" value="{{numerorp}}">
                                  </div>
                                  <div class="col">
                                    <label for="">Fecha del registro presupuestal:</label>
                                    <input type="text" placeholder="Fecha del rp" class="form-control" value="{{fecharp}}">
                                  </div>
                                  <div class="col">
                                    <br>
                                    <center>
                                      <a href="{% static archivorp %}" target="_blank" class="fas fa-file-pdf" style="color: grey;">Ver PDF del registro presupuestal</a>
                                    </center>
                                  </div>
                                </div>
<br>
<div class="row">
  <div class="col">
    <label for="">Numero del proceso acta de inicio:</label>
    <input type="text" placeholder="Numero del proceso de acta de inicio" class="form-control" value="{{numeroai}}">
  </div>
  <div class="col">
    <label for="">Fecha del acta de inicio:</label>
    <input type="text" placeholder="Fecha del acta de inicio" class="form-control" value="{{fechaai}}">
  </div>
  <div class="col">
    <br>
    <center>
      <a href="{% static archivoinicio %}" target="_blank" class="fas fa-file-pdf" style="color: grey;">Ver PDF del acta de inicio</a>
    </center>
  </div>
</div>


                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                               
                                </div>
                              </div>
                            </div>
                          </div>
        
      </label> 
    </div>
    <div class="col">

    </div>
    <div class="col">
     
      <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
       
        <div class="progress-bar progress-bar-striped bg-secondary  progress-bar-animated" style="width: 25%">Avance %25</div>
      </div>
    </div>


  </div>

  <!--- DEBE DESER DESPLEGABLE CON LO DE ABAJO-->
  <!-- SEGUN LA DURACION DE CONTRATO VER LA CANTIDAD DE CUENTAS QUE SE PUEDEN PASAR Y GENERASR LAS LISTAS-->
  <!-- HACER UN CICLO CON PYTHON QUE IMPRIMA LAS LISTAS-->
  <!-- GESTION DE CUENTAS-->
  <!-- POR AHORA HARE EL EJEMPLO CON LA PRIMERA CUENTA A PASAR, PERO DEBE GESTIONAR SEGUN LA CANTIDAD DE CUENTA-->
 
  <ul>
                <li>  <h5> Cuentas del contrato #{{numero}} del 2023</h5>
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      
                     <!-- <h2 class="accordion-header"> </h2>-->

                        <div class="row">
                          <div class="col">
                            
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                             
                        
                              <div class="col-9">
                                <span style="color: grey">Cuenta #1</span>
                              </div>

                            
                             
                              <div class="col" style="color:grey">
                                Pendiente de pasar cuenta
                                <!--  PENDIENTE DE PASAR CUENTA
                                      EN REVISION DE SUPERVISOR
                                      EN REVISION DE PRESUPUESTO
                                      EN REVISION DE TESORERIA
                                      EN PROCESO DE PAGO-->
                              </div>
                          
                           
                            </button>

                        </div>
                        </div>
            
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                          
                          <div class="row">
                            <div class="col">
                              <label for="" >Descargar acta de pago:</label> <br>
                                <a href="{% url 'actapago' cedula %}" style="color: grey">Ver acta de pago</a>
                            </div>

                            <div class="col">
                              <label for="">Descargar seguimiento cuentas:</label> <br>
                              <a href="{% url 'seguimiento' cedula %}" style="color: grey">Ver certificado seguimiento</a>
                            </div>
                           
                          
                            <div class="col">
                              <label for="">Numero de planilla:</label>
                              <input type="number" placeholder="Cargar planilla en perfil" value="{{numeroplanilla}}" class="form-control" name="numeroplanilla" id="numeroplanilla" readonly>
                            </div>

                            <div class="col">
                              <label for="">Cargar actividades:</label> <br>
                              <input type="file" name="archivo" id="archivo" class="form-control" placeholder="Formato pdf">
                            </div>
                         

                     
                     
                          </div>

<br>
                            <center>
                              <button type="submit" class="btn btn-outline-success">Pasar cuenta</button>
                            </center>
                          
                        </form>
                        </div>
                      </div>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                     <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                     </div>
                    {% endfor %}
                {% endif %}
                    <!-- ESTO DE AQUI DEBE GENERARSE AUTOMATICAMENTE CUANDO EL USUARIO YA PASO UNA CUENTA, DEBE GENERAR LA SIGUIENTE Y ESTA PASAR A PAGADA-->
                   <!--
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                          Cuenta #2
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          Cuenta #3
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                
                --><!-- POR AHORA HACER EJEMPLO CON UNA CUENTA-->
  </ul>