{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<br> <br>
<div class="">
<!--
          <div class="izquierdo">
          <img class="escudoverde" src="{% static 'imgs/escudo.gif' %} " alt=""> 
          </div>
-->

    


            <!-- <h3 class="text-center">Iniciar sesion</h3> -->
            <div class="form-control textoI" style="font-family: Lato">
            <form action="" method="POST">
              {% csrf_token %}

              <center>
                <img  src=" {% static 'imgs/logocompleto.png' %} "  alt="" style="width: 170px; text-align: center;height: 70px">
                <h5>Bienvenido a sara</h5> <br>
              </center>
              
            
            <label class="TT" for="username"><b>Usuario</b></label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Usuario" required><br>
            <label class="TT" form="password"><b>Contraseña</b></label>
            <input type="password" class="form-control" name="password" id="password" required><br>
          
            <div class="boton">
           

            <input type="submit" class="text-center btn btn-success" name="login" value="Login" style="font-family: Lato;"> <!--negrilla -->
            </div> <br>
        

  
            {% if messages %}
                {% for message in messages %}
                 <div class="alert alert-{{ message.tags }}">
                {{ message }}
                 </div>
                {% endfor %}
            {% endif %}


            <center>
              <a  class="" href=" {% url 'solicitud_usuario' %} " id="" style="color: grey; font-family: Lato">Para solicitar usuario al portal de centralizacion registrese aqui.</a>
            </center>
           
            
            
          
          </form>
            
          
          </div>
        </div>
</div>

{% endblock contenido %}