<!-- Modal de contratacion-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contrato de prestacion de servicios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form action="" method="POST">
            <center>
              <h6>Visualizacion del pdf a cargar...</h6>
              <embed id="vistaPrevia" type="application/pdf" width="350" height="350"> <br> 
            </center>
                      <!--
             with valores_campos = {'campo1': 'valor1', 'campo3': 'valor3'} 
                          #

            ]
-->
          {% csrf_token %}
          <div class="row">


  {% for campo in form %}

    <div class="col-md-4">
        <label class="">{{ campo.label_tag }}</label>
       
       
        {% if forloop.first %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{numero}}"
                   
                  >
        {% elif forloop.counter == 2 %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{numeroproceso}}"                    
                  >
        {% elif forloop.counter == 3 %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{objeto}}"                    
                  >
        {% elif forloop.counter == 4 %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{fechaperfeccionamiento}}"                    
                  >
        {% elif forloop.counter == 5 %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{valorc}}"                    
                  >
        {% elif forloop.counter == 6 %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{fechacontrato}}"                    
                  >
        {% elif forloop.counter == 7 %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{fechaterminacion}}"                    
                        >
        {% elif forloop.counter == 8 %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{duracion}}"                    
                        >
                        
        {% elif forloop.last %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{cedula}}"
                   readonly
                  >
        {% else %}
            <input type="{{ campo.field.widget.input_type }}"
                   class="form-control"
                   name="{{ campo.html_name }}"
                   id="{{ campo.auto_id }}"
                   placeholder="Digite {{ campo.label }}"
                   value="{{ campo.field.value }}"
                  >
        {% endif %}
        <br>
    </div>
 
{% endfor %}





        </div>
        
        
        <div class="col-12">{{ campo.errors }}</div>
         </div>
        
        

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success fas fa-check">Registrarlo</button>
          <button type="submit" class="btn btn-warning fas fa-magic">Obtener</button>
        </div>
      
      </div>
    </form>
    </div>
  </div>