<!-- Modal de contratacion-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contrato de prestacion de servicios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col">
                <center>
                    <h6>Previsualizacion del pdf</h6>
                   <!--<object type="apllication/pdf" class="pdfview"></object>--> 
                   <br> <br> <br> <br>
                </center>
                            
            </div>
  
          </div>


          <div class="row">
            <div class="col">
                <label for="">Numero del contrato</label><br>
                <input type="tel" name="" id="" class="form-control">
            </div>
            <div class="col">
                <label for="">Fecha del contrato</label><br>
                <input type="tel" name="" id="" class="form-control">
            </div>

            <div class="col">
                <label for="">Valor del contrato</label><br>
                <input type="tel" name="" id="" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col">
                <label for="">Numero del proceso</label><br>
                <input type="tel" name="" id="" class="form-control">
            </div>
            <div class="col">
                <label for="">Fecha suscripcion</label><br>
                <input type="date" name="" id="" class="form-control">
            </div>

            <div class="col">
                <label for="">Fecha de perfeccionamiento</label><br>
                <input type="date" name="" id="" class="form-control">
            </div>
          </div>

          <div class="row">
            
            <div class="col">
                <label for="">Objeto del contrato</label><br>
                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="col">
                <label for="">Supervisor contrato</label><br>
                <input type="text" name="" id="" class="form-control">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Registrarlo</button>
        </div>
      </div>
    </div>
  </div>