<!-- Modal de planilla-->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Planilla</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form action="" method="POST">
            <center>
              previsualizacion del pdf <br>
              <embed id="vistaPreviasss" type="application/pdf" width="350" height="350"> <br> 
            </center>
            {% csrf_token %}
            <div class="row">
              {% for campo in formplanilla%}            
                  <div class="col-md-4">
                      <label class="">{{ campo.label }}:</label>


                      {% if forloop.first %}
                         <input type="{{ campo.field.widget.input_type }}"
                                class="form-control"
                                name="{{ campo.html_name }}"
                                id="{{ campo.auto_id }}"
                                placeholder="Digite {{ campo.label }}"
                                value="{{numeroplanilla}}"
                           
                                >
                      {% elif forloop.counter == 2 %}
                          <input type="{{ campo.field.widget.input_type }}"
                                 class="form-control"
                                 name="{{ campo.html_name }}"
                                 id="{{ campo.auto_id }}"
                                 placeholder="Digite {{ campo.label }}"
                                 value="{{fechaplanilla}}"   
      
                                >
                      {% elif forloop.counter == 3 %}
                          <input type="{{ campo.field.widget.input_type }}"
                                 class="form-control"
                                 name="{{ campo.html_name }}"
                                 id="{{ campo.auto_id }}"
                                 placeholder="Digite {{ campo.label }}"
                                 value="{{periodoplanilla}}"   
            
                                >

                      {% elif forloop.counter == 4 %}
                          <input type="{{ campo.field.widget.input_type }}"
                                 class="form-control"
                                 name="{{ campo.html_name }}"
                                 id="{{ campo.auto_id }}"
                                 placeholder="Digite {{ campo.label }}"
                                 value="{{valortotalplanilla}}"   
                  
                                >

                                
                      {% elif forloop.counter == 5 %}
                      <input type="{{ campo.field.widget.input_type }}"
                             class="form-control"
                             name="{{ campo.html_name }}"
                             id="{{ campo.auto_id }}"
                             placeholder="Digite {{ campo.label }}"
                             value="{{nombrepension}}"   
              
                            >
                      {% elif forloop.counter == 6 %}
                      <input type="{{ campo.field.widget.input_type }}"
                             class="form-control"
                             name="{{ campo.html_name }}"
                             id="{{ campo.auto_id }}"
                             placeholder="Digite {{ campo.label }}"
                             value="{{valorpension}}"   
                    
                            >
                      {% elif forloop.counter == 7 %}
                      <input type="{{ campo.field.widget.input_type }}"
                             class="form-control"
                             name="{{ campo.html_name }}"
                             id="{{ campo.auto_id }}"
                             placeholder="Digite {{ campo.label }}"
                             value="{{nombresalud}}"   
                           >
                      {% elif forloop.counter == 8 %}
                      <input type="{{ campo.field.widget.input_type }}"
                             class="form-control"
                             name="{{ campo.html_name }}"
                             id="{{ campo.auto_id }}"
                             placeholder="Digite {{ campo.label }}"
                             value="{{valorsalud}}"   
                            >

                      {% elif forloop.counter == 9 %}
                      <input type="{{ campo.field.widget.input_type }}"
                             class="form-control"
                             name="{{ campo.html_name }}"
                             id="{{ campo.auto_id }}"
                             placeholder="Digite {{ campo.label }}"
                             value="{{nombrearl}}"   
                            >
                      {% elif forloop.counter == 10 %}
                      <input type="{{ campo.field.widget.input_type }}"
                             class="form-control"
                             name="{{ campo.html_name }}"
                             id="{{ campo.auto_id }}"
                             placeholder="Digite {{ campo.label }}"
                             value="{{valorarl}}"   
                            >

                      {% elif forloop.last %}
                          <input type="{{ campo.field.widget.input_type }}"
                                 class="form-control"
                                 name="{{ campo.html_name }}"
                                 id="{{ campo.auto_id }}"
                                 placeholder="Digite {{ campo.label }}"
                                 value="{{cedula}}"
                                 readonly
                          >
                       {% else %}

                           <input type=" {{ campo.field.widget.input_type }} "
                           class="form-control"
                           name="{{ campo.name }}"
                           id="{{ campo.name }}"
                           placeholder="Digite {{ campo.label }}"
                           required>


                      {% endif %}
                      <br>
                  </div>
              {% endfor %}
              
              <div class="col-12">{{ campo.errors }}</div>
               </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Registrarlo</button>
        </div>
      
      </div>
    </form>
    </div>
  </div>