<!-- Modal de contratacion-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Contrato de prestacion de servicios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        
            <center>
              <h6>Visualizacion del pdf a cargar...</h6>
              <embed id="vistaPrevia" type="application/pdf" width="350" height="350"> <br> 
            </center>
          <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            {% for campo in form %}
            <div class="col-md-4">
                <label>{{ campo.label_tag }}</label>
                {% if campo.field.widget.input_type == 'select' %}
                    <select class="form-control" name="{{ campo.html_name }}" id="{{ campo.auto_id }}">
                        {% for opcion in campo.field.choices %}
                            <option value="{{ opcion.0 }}" {% if opcion.0 == campo.value %}selected{% endif %}>{{ opcion.1 }}</option>
                        {% endfor %}
                    </select>
                {% elif campo.field.widget.input_type == 'file' %}
                    <input type="file" class="form-control" name="pdffFile" id="pdffFile">
                {% else %}
                    <input type="{{ campo.field.widget.input_type }}"
                           class="form-control"
                           name="{{ campo.html_name }}"
                           id="{{ campo.auto_id }}"
                           placeholder="Digite {{ campo.label }}"
                    >
                {% endif %}
                <br>
            </div>
        {% endfor %}
        </div>
        
        
        <div class="col-12">{{ campo.errors }}</div>
         </div>
        
        

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Registrarlo</button>
        </div>
      
      </div>
    </form>
    </div>
  </div>