{% extends 'base_layout_usuarios2.html' %}
{% block titulo %}Subir documentos{% endblock titulo %}
{% block contenido %}
<div class="card">

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link fas fa-file-invoice-dollar"  href="{% url 'perfil' %}" style="color: #1d985a;">Avances de la cuenta </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="">Registrar documentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fas fa-user-edit" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="color: #1d985a">Actualizar datos del pefil</a>
  
              </li>
          </ul>
    
    </div>

    <div class="card-body">
        {% include 'form_documentos_usuario.html' %}
    </div>

    
    
     
</div>

{% endblock contenido %}