{% extends 'base.html' %}
{% load static %}
{% block contenido  %}
<!-- 
<div class="imagen">
    <img  src="{% static 'imgs/logocompleto.png' %}"  alt="" style="width: 200px; text-align: center;">
</div>
-->
<br><br><br>
    <div class="centrar">
        <div class="centrar1 col">
            <div class="container form-control form-control" >
            <a class="btn btn-outline-success fas fa-user-lock" href="{% url 'inicio' %}">Iniciar sesión</a>
            
            <center>
                <img  src="{% static 'imgs/logocompleto.png' %}"  alt="" style="width: 200px; text-align: center;">
                <h5 style="font-family: Kodchasan">Solicitud de usuario al <b>S</b>istema de <b>A</b>dministración de <b>R</b>ecursos y <b>A</b>plicaciones</h5> 

    
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
            </center>
            <br>

            
            <form  action="" method="POST" autocomplete="off" style="font-family: Lato;">
            <!-- CREANDO FORMULARIO DINAMICOS-->
            {% csrf_token %}
            <div class="row">
                <div class="row">
                    {% for campo in formulario %}
                        <div class="col-md-3">
                            <label class="">{{ campo.label_tag }}</label>
                            {% if campo.field.widget.input_type == 'select' %}
                                <select class="form-control" name="{{ campo.html_name }}" id="{{ campo.auto_id }}" {% if campo.field.required %}required{% endif %}>
                                    {% for opcion in campo.field.choices %}
                                        <option value="{{ opcion.0 }}" {% if opcion.0 == campo.value %}selected{% endif %}>{{ opcion.1 }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="{{ campo.field.widget.input_type }}"
                                       class="form-control"
                                       name="{{ campo.html_name }}"
                                       id="{{ campo.auto_id }}"
                                       placeholder="Digite {{ campo.label }}"
                                       {% if campo.field.required %}required{% endif %}>
                            {% endif %}
                            <br>
                        </div>
                    {% endfor %}
                </div>
          
            
            <div class="col-12">{{ campo.errors }}</div>
             </div>

                <div class="col text-center">
                <button type="submit" class="fas fa-user-md text-center btn btn-success" onclick="envio();">Solicitar</button>
                </div>

             </form>
       

            </div>
        </div>
        <br>
        <center>
            E.S.E IMSALUD &copy V2.0
          </center>
      </div>
{% endblock  %}












