{% extends 'base_layout_gescon4.html' %}
{% block titulo %}Usuario pendiente{% endblock titulo %}
{% block contenido %}
   <center>
   <h5> Usuarios Pendientes </h5>
   </center>
   
   <table id="tabla-usolicitudes">
      <thead>
          <tr>
              <th>Cedula</th>
              <th>Nombre</th>
              <th>Primer Apellido</th>
              <th>Cargo</th>
              <th>Email</th>
              <th>Supervisor</th>
          </tr>
      </thead>
      <tbody></tbody>
  </table>
 
  

{% endblock contenido %}