{% extends 'base_apis_general.html' %}
{% block titulo %}Formato gestion de identidades{% endblock titulo %}
{% block contenido %}

<center>
    <h5>Datos de contacto nueva eps - imsalud</h5>
</center>



<form action="" class="form-control">
    
    

    <div class="row container center">
     <div class="col-4">
    
     </div>
      <div class="col">
      <form action="" class="form-control" method="POST">
        <center>
      <label for="tipo_documento">Tipo de documento:</label>
      <select name="tipo_documento" id="tipo_documento" class="form-control" style="text-align: center;">
                      <option value="CE" class="form-control">CE</option>
                      <option value="TI" class="form-control">TI</option>
                      <option value="CC" class="form-control" selected>CC</option>
                      <option value="NT" class="form-control">NT</option>
                      <option value="RC" class="form-control">RC</option>
                      <option value="PA" class="form-control">PA</option>
                      <option value="MS" class="form-control">MS</option>
                      <option value="NU" class="form-control">NU</option>
                      <option value="CN" class="form-control">CN</option>
                      <option value="SC" class="form-control">SC</option>
                      <option value="AS" class="form-control">AS</option>
                      <option value="CD" class="form-control">CD</option>
                      <option value="PE" class="form-control">PE</option>
                    </select> 
    
    <label for="">Numero de documento:</label>
    <input type="number" class="form-control" name="numero_documento" id="numero_documento"> 
    <br>
    <button class="btn btn-secondary" type="submit">Consumir</button>
    </center>
    </form>
    
      </div>
      <div class="col">
    
      </div>
    
    </div>
    <br>
    
    <table class="container table table-bordered table-hover"  style="text-align: center;">
        <thead>
          <tr>
            <th scope="col" >Codigo</th> 
            <th scope="col">Mensaje</th>
            <th scope="col">Tipo de afiliado</th>
            <th scope="col">Tipo de regimen</th> <!-- FALTA -->
            <th scope="col">Categoria</th>  <!-- FALTA -->
            <th scope="col">Estado de afiliacion</th> <!-- FALTA -->
            <th scope="col">Afiliado exento</th> <!-- FALTA -->
            <th scope="col">Tipo de exencion</th> <!-- FALTA -->
            <th scope="col">Producto adicional</th> <!-- FALTA -->
            <th scope="col">Fecha de afiliacion</th> <!-- FALTA -->
            <th scope="col">Tipo de afiliacion</th> <!-- FALTA -->
          </tr>
        </thead>
        <tbody>
         <tr>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            <td>"" </td>
            </tr>
        </tbody>

    <table>
          
    
    

             
                


</form>


{% endblock contenido %}